 *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 }




 /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

  input, input:before, input:after {


      -webkit-appearance: none;
      -webkit-border-radius: 0px;
     }   

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}



.wrapper {
    min-height: 87vh;
}



 @media (min-width:1360px){
 	.container{
 		max-width: 1374px;
 		width:100%;
 	} 








 	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }


  .col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}


 }



button:focus{
outline: none !important;
}
a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul li{
  list-style-type: none;
  text-decoration: none;
}
ul {
    padding: 0px;
    margin: 0px;
}
p {
  margin-bottom: 0px;
}


@font-face {
  font-family: 'firagobold';
  src:url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: 'firagolight';
  src:url(../fonts/FiraGO-Light.ttf);
}

@font-face {
  font-family: 'firagoextra';
  src:url(../fonts/FiraGO-ExtraLight.ttf);
}
@font-face {
  font-family: 'firagobold';
  src:url(../fonts/FiraGO-ExtraBold.ttf);
}


@font-face {
  font-family: 'firagomedium';
  src:url(../fonts/FiraGO-Medium.ttf);
}


@font-face {
  font-family: 'firagoregular';
  src:url(../fonts/FiraGO-Regular.ttf);
}


@font-face {
  font-family: 'lari';
  src:url(../fonts/lari_symbol_v2.otf);
}


@font-face {
  font-family: 'marketsans';
  src:url(../fonts/marketsans.ttf);
}

.clear{
  clear: both;
}

.lari {
  font-family: lari;
}

input:focus{
  outline: none;
  border-bottom: 1px solid #00072D !important;
}






.logo_login{
  margin-top: 20px;
}


.user_form_inner {
    max-width: 400px;
    margin: auto;
}


.user_form_inner h1 {
    color: #1A1A1A;
    font-family: firagobold;
    text-align: center;
    margin-bottom:30px;
    font-size: 30px;
}



p.active_field:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: #00072D;
    bottom: -3px;
}


.login_registration p {
    display: inline-block;
    position: relative;
    cursor: pointer;
    padding-bottom: 30px;
}


p.login_text {
    font-size: 22px;
    color: #0E141C;
    font-family: firagobold;
    width: 49%;
    text-align: center;
}



p.registraion_text {
    font-size: 22px;
    color: #0E141C;
    font-family: firagobold;
    width: 49%;
    text-align: center;
}

.login_registration {
    border-bottom: 1px solid #CFCFCF;
}




.login input {
    width: 100%;
    border: 0px;
    border-bottom: 1px solid #CFCFCF;
}


.login input{
margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}

input.numb_field {

    font-family: firagolight;
    font-size: 18px;
    color: #000F39;
     -webkit-appearance: none;
}


input.numb_field::placeholder{
  color: #000F39;
}


input.pass_field {

    font-family: firagolight;
    font-size: 18px;
    color: #000F39;
     -webkit-appearance: none;

}


input.pass_field::placeholder{
  color: #000F39;
}








.save_pass input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.save_pass input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}
.save_pass input[type="checkbox"] + label::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: #ecf0f1;
  border: 1px solid #00072D;
  cursor: pointer;
  transition: 0.3s ease;
}
.save_pass input[type="checkbox"] + label .tick {
  position: absolute;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 19px;
  stroke-dashoffset: 19px;
  transition: 0.2s 0.1s ease;
  cursor: pointer;
}
.save_pass input[type="checkbox"]:checked + label::before {
  background: #00072D

}
.save_pass input[type="checkbox"]:checked + label .tick {
  stroke-dashoffset: 0;
}
.save_pass input[type="checkbox"]:focus + label::before {
  border-color:#00072D;
}
.save_pass input[type="checkbox"]:disabled + label::before {
  background: #a3b6bb;
}

.save_pass label {
    font-family: firagolight;
    color: #000F39;
    font-size: 18px;
    cursor: pointer;
}



.option_login {
    display: flex;
    margin-top: 30px;
    margin-bottom: 50px;
}

.save_pass {
    width: 50%;
    position: relative;
}


.forgot_password{
  width: 50%;
}


.forgot_password p {
    color: #000F39;
    font-size: 17px;
    font-family: firagolight;
    text-decoration: underline;
}


.login_btn p {
    text-align: center;
    background: #00072D;
    color: white;
    padding: 15px 0px;
    border-radius: 3px;
    font-family: firagolight;
    font-size: 18px;
    cursor: pointer;
}


.user_reg input {
    width: 100%;
    margin-top: 25px;
     padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    border-bottom: 1px solid #CFCFCF;
    font-size: 18px;
    font-family: firagolight;
    color: #000F39;

     -webkit-appearance: none;

}


.user_reg input::placeholder{
  color: #000F39;
}




.agree_term input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.agree_term input[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
}
.agree_term input[type="checkbox"] + label::before {
  content: "";
  width: 12px;
  height: 12px;
  margin-right: 10px;
  background: #ecf0f1;
  border: 1px solid #00072D;
  cursor: pointer;
  transition: 0.3s ease;
}
.agree_term input[type="checkbox"] + label .tick {
  position: absolute;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 19px;
  stroke-dashoffset: 19px;
  transition: 0.2s 0.1s ease;
  cursor: pointer;
}
.agree_term input[type="checkbox"]:checked + label::before {
  background: #00072D

}
.agree_term input[type="checkbox"]:checked + label .tick {
  stroke-dashoffset: 0;
}
.agree_term input[type="checkbox"]:focus + label::before {
  border-color:#00072D;
}
.agree_term input[type="checkbox"]:disabled + label::before {
  background: #a3b6bb;
}

.agree_term label {
    font-family: firagolight;
    color: #000F39;
    font-size: 18px;
    cursor: pointer;
}

.agree_term{
  position: relative;
}


.agree_term_cont{
  padding-top: 40px;
  padding-bottom: 30px;
}

.underline_terms {
    text-decoration: underline;
    font-family: firagolight;
    color: #000F39;
    font-size: 18px;
    cursor: pointer;
    margin-left: 5px;
}
  
  .registraion{
    display: none;
  }


.registraion_btn h5 {
    color: white;
    background: #00072D;
    text-align: center;
    padding: 16px 0px;
    border: 3px;
    font-size: 18px;
    font-family: firagolight;
    cursor: pointer;
    margin-bottom: 25px;

}

.registraion_btn p {
    color: #0066C0;
    font-size: 17px;
    font-family: firagoregular;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}


.company_reg{
  display: block;
}

.disable_reg{
  display: none;
}






.company_reg input {
    width: 100%;
    margin-top: 25px;
     padding-top: 15px;
    padding-bottom: 15px;
    border: 0px;
    border-bottom: 1px solid #CFCFCF;
    font-size: 18px;
    font-family: firagolight;
    color: #000F39;
     -webkit-appearance: none;
}


.company_reg input::placeholder{
  color: #000F39;
}


.select_cont p {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 15px;
    font-size: 18px;
    font-family: firagolight;
    border-bottom: 1px solid #CFCFCF;
    cursor: pointer;
}

.select_dropdown{
    float: right;
}



.select_cont ul {
    position: absolute;
    top: 83px;
    background: white;
    width: 100%;
    box-shadow: 0px 3px 3px 1px #CFCFCF;
    display: none;
    z-index: 2;
}

.select_cont_active{
  display: block !important;
}


.select_cont {
    position: relative;
}



.select_cont ul li {
    font-size: 16px;
    font-family: firagolight;
    padding: 10px 15px;
    cursor: pointer;
}



.active_select{
  background-color: #DB447F;

  color: white;
}

.magic{
  display: none;
  position: absolute;
  color: #000F39;
  font-size: 13px;
  font-family: firagoregular;
}


.good_name{
  display: none;
  position: absolute;
  color: #000F39;
  font-size: 13px;
  font-family: firagoregular;
}


.field_required{

  display: none;
    position: absolute;
  color: #CB2026;
  font-size: 13px;
  font-family: firagoregular;
}



.russia_occupant{
  display: none;
}

p.russia_occupant {
    color: #CB2026;
    font-size: 13px;
    font-family: firagobold;
    margin-top: 3px;
    position: absolute;
}

.user_reg{
  position: relative;
}


button.close.close_terms {
    position: absolute;
    right: 30px;
    top: 30px;
    z-index: 1
}

.terms_button {
    position: relative;
}


.terms_main_md{
  max-width: 950px;
}

.terms_inner_body h4 {
    font-family: firagobold;
    font-size: 30px;
    color: #1A1A1A;
    text-align: center;
    margin-bottom: 50px;
}

.terms_inner_body h5 {
    color: #000F39;
    font-size: 18px;
    font-family: firagolight;
    margin-bottom: 40px;
}


.terms_inner_body p{
    color: #000F39;
    font-size: 18px;
    font-family: firagolight;
        line-height: 1.3;
}

.terms_inner_body {
    max-width: 800px;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.modal-content.terms_content {
    max-height: 650px;
    overflow: auto;
}

.modal-body.terms_body {
    padding: 0px;
}

.footer_login_inner {
    max-width: 320px;
    margin: auto;
}

.footer_login_inner p {
    display: inline-block;
    text-align: center;
    color: #606060;
    font-family: firagoregular;
    font-size: 13px;
}

footer.login_footer {
    margin-top: 30px;
    padding-top: 25px;
    padding-bottom: 25px;
    border-top: 1px solid #CFCFCF;
    background-color: white;
}


span.watermark_numb {
    font-family: marketsans;
}





.user_forgot_inner {
    max-width: 400px;
    margin: auto;
}


.user_forgot_inner h1 {
    color: #1A1A1A;
    font-family: firagobold;
    text-align: center;
    margin-bottom:30px;
    font-size: 30px;
}


.forgot_first input{
      width: 100%;
    border: 0px;
    border-bottom: 1px solid #CFCFCF;
     font-family: firagolight;
    font-size: 18px;
    color: #000F39;
    -webkit-appearance: none;
       margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}






.continue_first a p {
    text-align: center;
    background: #00072D;
    color: white;
    padding: 14px 0px;
    border-radius: 3px;
    font-family: firagolight;
    font-size: 18px;
}

.continue_first {
    margin-top: 70px;
}



.forgot_second input{
      width: 100%;
    border: 0px;
    border-bottom: 1px solid #CFCFCF;
     font-family: firagolight;
    font-size: 18px;
    color: #000F39;
    -webkit-appearance: none;
       margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}



.done_forgot_btn a p {
    text-align: center;
    background: #00072D;
    color: white;
    padding: 14px 0px;
    border-radius: 3px;
    font-family: firagolight;
    font-size: 18px;
}

.done_forgot_btn {
    margin-top: 70px;
}



.changed_close {
    position: relative;
    padding-right: 30px;
    padding-top: 30px;
}


.changed_modal_main{
  max-width: 555px;
}


.pass_changed_content h1 {
    color: #DB447F;
    font-family: firagoregular;
    font-size: 18px;
    margin-bottom: 30px;
}

.pass_changed_content h2 {
    font-family: firagolight;
    color: #000000;
    font-size: 15px;
    text-align: center;
}

.pass_changed_body {
    padding: 0px;
}

.pass_changed_content {
    max-width: 285px;
    margin: auto;
    margin-top: 55px;
    margin-bottom: 100px;
}








.activation_cont {
    max-width: 400px;
    margin: auto;
}


.activation_heading h1 {
    color: #1A1A1A;
    font-family: firagobold;
    text-align: center;
    margin-bottom:30px;
    font-size: 30px;
}


.activation_text p {
    color: #000F39;
    font-family: firagoregular;
    font-size: 18px;
}


span.phone_number {
    font-family: marketsans;
}


span.change_number {
    color: #0066C0;
    cursor: pointer;
    padding-left: 5px;
     transition: 0.3s;
}

span.change_number:hover {
    color: #DB447F;
    transition: 0.3s;
}



.activation_code_input input {
    border: 0px;
    font-family: firagoregular;
    font-size: 18px;
    color: #000F39;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #cfcfcf;
    width: 100%;
}

.activation_code_input input::placeholder{
font-family: firagolight;
}


.activation_code_input {
    width: 50%;
}

.activation_code_btn {
    width: 50%;
    padding-left: 20px;
}

.activation_code {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 60px;
}


p.sending {
      width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #000F39;
    border-radius: 2px;
    font-size: 16px;
    color: #000F39;
    font-family: firagolight;


    -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
        cursor: wait;
}


.pending {
      width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #000F39;
    border-radius: 2px;
    font-size: 16px;
    color: #000F39;
    font-family: firagolight;


    -webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;

}


input::placeholder{
  color: #000F39;
}




@keyframes blink {

    0% {
      opacity: .2;
    }

    20% {
      opacity: 1;
    }

    100% {
      opacity: .2;
    }
}




.sending span {

    animation-name: blink;

    animation-duration: 1.4s;

    animation-iteration-count: infinite;

    animation-fill-mode: both;
    font-size: 18px;
}

.sending span:nth-child(2) {

    animation-delay: .1s;
}

.sending span:nth-child(3) {

    animation-delay: .1s;
}




.confirm_activation  p {
    text-align: center;
    background: #00072D;
    color: white;
    padding: 15px 0px;
    border-radius: 3px;
    font-family: firagolight;
    font-size: 18px;
    cursor: pointer;
}

.help_container p span {
    color: #0066C0;
    font-size: 16px;
    font-family: firagoregular;
      transition: 0.3s;
}

.help_container p span:hover {
    color:#DB447F;
   transition: 0.3s;
}


.help_container {
    margin-top: 20px;
    cursor: pointer;
}




.change_mobile_num{
  max-width: 555px;
}



.mobile_change_content {
    max-width: 400px;
    margin: auto;
}



.change_mobile_input input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #cfcfcf;
    padding: 15px 0px;
    font-family: firagolight;
    color: #000F39;
    font-size: 18px;
}


.change_mobile_input input::placeholder{
  color: #000F39;
}


.change_mobile_input p {
    margin-top: 10px;
    font-family: firagolight;
    font-size: 16px;
    color: #000F39;
}

span.old_phone {
    font-family: marketsans;
}


.change_mobile_btn p {
    text-align: center;
    background: #00072D;
    color: white;
    padding: 15px 0px;
    border-radius: 3px;
    font-family: firagolight;
    font-size: 18px;
    cursor: pointer;
}


.change_mobile_btn {
    margin-top: 30px;
    margin-bottom: 70px;
}

.color_danger{
  color: red !important;
}

.send_again{
      width: 100%;
    height: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    border: 1px solid #000F39;
    border-radius: 2px;
    font-size: 16px;
    color: #000F39;
    font-family: firagoregular;
    cursor: pointer;
}



.panel_help {
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
}


.panel_help a p {
    color: #0066C0;
    font-size: 16px;
    font-family: firagoregular;
    line-height: 1.7;
}


.panel_help p {
    color: #0066C0;
    font-size: 16px;
    font-family: firagoregular;
    line-height: 1.7;
}

#drop_img{
  transition: 0.1s;
}












@media(max-width: 992px){
  .terms_inner_body{
    padding: 0px 20px;
    width: 100%;
    max-width: unset;
  }
}



@media(max-width: 576px){


.terms_inner_body h4 {
    font-size: 22px;
    margin-bottom: 25px;
}

.terms_inner_body h5 {
    font-size: 13px;
    margin-bottom: 25px;
}

.terms_inner_body p {
    font-size: 12px;
}

.user_form_inner h1 {
    margin-bottom: 25px;
    font-size: 25px;
}

.login_registration p {
    padding-bottom: 15px;
}

p.login_text {
    font-size: 18px;
}
p.registraion_text {
    font-size: 18px;
}

input.pass_field {
    font-size: 15px;
}
.login input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input.numb_field {
  font-size: 15px;
}

.save_pass label {;
    font-size: 12px;
}

.forgot_password p {
    font-size: 12px;
}

.forgot_password p a{
   float:right;
   text-decoration: underline;
}




.login_btn p {
    padding: 12px 0px;
    font-size: 15px;
}
.user_form_inner {
    margin-top: 20px;
}


.user_reg input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;

}



.underline_terms {
    font-size: 12px;
    position: relative;
    top: -2px;
}
.agree_term label {
    font-size: 12px;
}



.registraion_btn h5 {
    padding: 12px 0px;
    font-size: 15px;
        margin-bottom: 20px;
}

.registraion_btn p {
    font-size: 14px;
}

.agree_term_cont {
    padding-top: 25px;
    padding-bottom: 25px;
}

.option_login {
    margin-top: 25px;
    margin-bottom: 25px;
}



.company_reg input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.select_cont p {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 15px;
}


.select_cont ul {
    top: 69px;
    z-index: 2;
}


.footer_login_inner {
    max-width: 250px;
    margin: auto;
}


#sucsees_sms{
  padding-right: 0px !important;
}


.pass_changed_content {
    max-width: 240px;
    margin-top: 20px;
    margin-bottom: 60px;
}

.pass_changed_content h1 {
    font-size: 15px;
    text-align: center;
    margin-bottom: 20px;
}

.pass_changed_content h2 {
    font-size: 13px;
}
.changed_close {
    position: relative;
    padding-right: 15px;
    padding-top: 15px;
}



.user_forgot_inner h1 {
    margin-bottom: 10px;
    font-size: 25px;
}

.second_section_forgot {
    margin-top: 20px;
}


.forgot_second input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 15px;
}

.done_forgot_btn {
    margin-top: 35px;
}


.done_forgot_btn a p {
    padding: 12px 0px;
    font-size: 15px;
}


.forgot_first input {
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
     font-size: 15px;
}

.first_section_forgot {
    margin-top: 20px;
}


.activation_cont_main {
    margin-top: 20px;
}


.continue_first {
    margin-top: 35px;
}

.continue_first a p {
    padding: 12px 0px;
    font-size: 15px;
}



.pending {

    font-size: 12px;

}

.send_again {
    font-size: 12px;

}


p.sending {

    font-size: 12px;

}

.activation_code_btn {
    width: 55%;
    padding-left: 10px;
}


.activation_code_input input {

    font-size: 12px;
    padding-top: 7px;
    padding-bottom: 7px;

}

.activation_code_input {
    width: 45%;
}

.activation_text p {
    font-size: 14px;
}


.confirm_activation p {
    padding: 10px 0px;
    font-size: 15px;
}


.activation_code {
    margin-top: 30px;
    margin-bottom: 30px;
}

.help_container p span {
    font-size: 12px;
}


.activation_heading h1 {

    margin-bottom: 30px;
    font-size: 23px;
}


.change_mobile_input input {
    padding: 7px 0px;
    font-size: 12px;
}

.change_mobile_input p {
    margin-top: 7px;
    font-size: 11px;
}


.change_mobile_btn p {
    padding: 10px 0px;
    font-size: 15px;
}

.change_mobile_btn {
    margin-top: 20px;
    margin-bottom: 40px;
}


#change_phone{
  padding-right: 0px !important;
}



.panel_help p {
    line-height: 2;
    font-size: 12px;
}

.panel_help a p {
    font-size: 12px;
    line-height: 2;
}









}





