.new_container {
  width: 1115px;
  max-width: 100%;
  margin: 0 auto;
}

.wish_list_section .wish_list_title {
  font-family: firagoregular;
  padding-top: 47px;
  padding-bottom: 20px;
}

@media (max-width: 1132px) {
  .wish_list_section .wish_list_title {
    margin: 10px;
  }
}

.wish_list_section .wish_list_title h3 {
  font-size: 25px;
  font-weight: bold;
}

.wish_list_section .wish_list_title h3 span {
  font-weight: 400;
  font-family: firagoregular;
}

.wish_list_section .wish_list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(205px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(205px, 1fr));
  grid-gap: 10px;
  font-family: firagoregular;
}

@media (max-width: 1132px) {
  .wish_list_section .wish_list {
    margin: 10px;
  }
}

.wish_list_section .wish_list .wish_item {
  position: relative;
}

.wish_list_section .wish_list .wish_item .wish_trash {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background-color: #F0F0F0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  border: 0;
}

.wish_list_section .wish_list .wish_item .wish_description button {
  width: 100%;
  padding: 15px;
  background-color: #00072D;
  border-radius: 3px;
  border: 0;
  color: #fff;
}
/*# sourceMappingURL=newstyle.css.map */