*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
 }




 /*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */

main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

  input, input:before, input:after {


      -webkit-appearance: none;
      -webkit-border-radius: 0px;
     }   

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}

strong{
  font-weight: normal;
  font-family: firagobold;
}

 @media (min-width:1360px){
 	.container{
 		max-width: 1374px;
 		width:100%;
 	} 




 	.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
    float: left;
  }
  .col-xl-12 {
    width: 100%;
  }
  .col-xl-11 {
    width: 91.66666667%;
  }
  .col-xl-10 {
    width: 83.33333333%;
  }
  .col-xl-9 {
    width: 75%;
  }
  .col-xl-8 {
    width: 66.66666667%;
  }
  .col-xl-7 {
    width: 58.33333333%;
  }
  .col-xl-6 {
    width: 50%;
  }
  .col-xl-5 {
    width: 41.66666667%;
  }
  .col-xl-4 {
    width: 33.33333333%;
  }
  .col-xl-3 {
    width: 25%;
  }
  .col-xl-2 {
    width: 16.66666667%;
  }
  .col-xl-1 {
    width: 8.33333333%;
  }


  .col-xl-1,.col-xl-2,.col-xl-3,.col-xl-4,.col-xl-5,.col-xl-6,.col-xl-7,.col-xl-8,.col-xl-9,.col-xl-10,.col-xl-11,.col-xl-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}








.left_section{
  flex:0 0 45%;
  max-width:45%;
}


.middle_section{
  flex:0 0 55%;
  max-width:55%;
}

















 }



button:focus{
outline: none !important;
}
a {
    color: inherit;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul li{
  list-style-type: none;
  text-decoration: none;
}
ul {
    padding: 0px;
    margin: 0px;
}
p {
  margin-bottom: 0px;
}


@font-face {
  font-family: 'firagobold';
  src:url(../fonts/FiraGO-Bold.ttf);
}

@font-face {
  font-family: 'firagolight';
  src:url(../fonts/FiraGO-Light.ttf);
}

@font-face {
  font-family: 'firagoextra';
  src:url(../fonts/FiraGO-ExtraLight.ttf);
}
@font-face {
  font-family: 'firagobold';
  src:url(../fonts/FiraGO-ExtraBold.ttf);
}


@font-face {
  font-family: 'firagomedium';
  src:url(../fonts/FiraGO-Medium.ttf);
}


@font-face {
  font-family: 'firagoregular';
  src:url(../fonts/FiraGO-Regular.ttf);
}


@font-face {
  font-family: 'lari';
  src:url(../fonts/lari_symbol_v2.otf);
}


@font-face {
  font-family: 'marketsans';
  src:url(../fonts/marketsans.ttf);
}

.clear{
  clear: both;
}

.lari {
  font-family: lari;
}









































 /****  HEADER  ****/


.lurji-logo {
    max-width: 140px;
    padding: 20px 30px;
    padding-left: 15px;
    border-right: 1px solid #44485B;
}

.lurji-logo img{
  cursor: pointer;
}

.prime-logo img{
  cursor: pointer;
}

.prime-logo {
    max-width: 140px;
    padding: 20px 25px;
    align-items: center;
    display: flex;
        border-right: 1px solid #44485B;
}
.top-nav{
  background-color: #00072D;
}

.search-main {
    display: flex;
    position: relative;
    z-index: 11;
}

.selected_category{
  position: relative;
  cursor: pointer;

}
.choose_category{
padding-top: 40px;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #d8d8d8;
    font-family: firagolight;
    margin-bottom: 0px;
}

.option_category{
  position: absolute;
  top: 0;
  display: none;
  background-color: white;
  border-top-left-radius: 30px;
  z-index: 9;
  overflow: hidden;
}

.not_choosen{
  display: none;
}

.search-field {
    font-family: firagoextra;
    z-index: 10;
    border: 0;
    border-left: 1px solid #d0cdcd;
    font-family: firagoextra;
    z-index: 10;
    border: 0;
    border-left: 1px solid #d0cdcd;
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-left: 10px;
}

.search-field:focus{
  outline: none;
}

.selected_category p {
    color: #0E141C;
    background-color: white;
}

.option_category ul li {
  color: #0E141C;

}

p.choosen_category {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 13px;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    font-family: firagoextra;
    white-space: nowrap;
}

.choosen_main{
  position: relative;
  z-index: 10;
}

.choosen_main img {
    position: absolute;
    right: 8px;
    top: 3px;
    bottom: 0;
    margin: auto;
    transition:
     0.3s;

}

.transformed{
transform: rotate(180deg);
}

ul.choose_category li {
    white-space: nowrap;
}


li.active_cat {
    background-color: #00072d;
    color: white !important;
    padding-left: 10px;
        padding-right: 10px;
    margin-left: -10px;
    margin-right: -10px;
}

.search-field-main{
  z-index: 10;
  display: flex;
  width: 100%;
  position: relative;
}


.search_container {
  display: flex;
  align-items: center;
}
.search_outer_cont {
  width: 100%;
}


.search-field-main img {
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 11;
    cursor: pointer;
        background-color: white;
    padding-left: 5px;
    padding-right: 5px;
}


.user_section_inner {
    display: flex;
    justify-content: space-between;
    max-width: 110px;
    width: 100%;
}

.use_section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}


.user_outer_section{
  display: flex;
  align-items: center;
  background-color: #00072d;
}

.use_section {
  padding-right: 35px;
}

.user_section_inner > div{
  cursor: pointer;
}


.basket{
  position: relative;
}

.basket span {
    position: absolute;
    font-size: 12px;
    display: flex;
    justify-content: center;
    padding-left: 3px;
    width: 100%;
    height: 100%;
    margin: auto;
    height: 21px;
    top: 0;
    bottom: 0;
    font-family: marketsans;
}




/**** Menu Container ****/

nav.menu-nav {
    background-color: #212640;
}
.menu_container {
    display: flex;
    max-width: 1140px;
    margin: auto;
}

.menu_list ul li {
    color: #D6D6D6;
    float: left;
    font-family: firagolight;
    font-size: 15px;
    padding: 20px 12.5px;
    display: inline-block;
}


.menu_list ul li a{
  transition: 0.3s;
}

.menu_list ul li a:hover{
  color: #212640;
  text-shadow: 0px 0px 1px white;
}
.menu_list ul li:hover{
  color: #212640;
}



.offer_name{
  position: relative;
}


.offer_name p {
    font-size: 15px;
    font-family: firagobold;
    color: white;
    padding: 20px 12.5px;
      padding-left: 5px;
    padding-right: 5px;
    background-color: #DB447F;
    margin-left: 5px;
}

.offer_name p:after {
    content: '';
    height: 0;
    border-top: 10px solid;
    width: 0px;
    position: absolute;
    top: 0;
    right: -15px;
    border-top: 63px solid #DB447F;
    border-right: 15px solid transparent;
}

.offer_name p:before {
    content: '';
    height: 0;
    border-top: 10px solid;
    width: 0px;
    position: absolute;
    top: -1px;
    left: -10px;
    border-top: 0px;
    border-bottom: 63px solid #DB447F;
    border-left: 15px solid transparent;
}


.sub_menu {
  position: absolute;
  max-width: 1374px;
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
  top: 144px;
  background-color: #F7F7F7;
  z-index: 10;

}

.first_line_menu{
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.second_line_menu{
padding-top: 50px;
  padding-bottom: 50px;
}
.third_line_menu{
padding-top: 50px;
  padding-bottom: 50px;
}
.fourth_line_menu{
 padding-right: 50px;
 padding-top: 50px;
  padding-bottom: 50px;
}

.second_line_menu p {
   color: #363B42;
    font-size: 15px;
    font-family: firagolight;

}
.third_line_menu p {
   color: #363B42;
    font-size: 15px;
    font-family: firagolight;

}
.fourth_line_menu p {
   color: #363B42;
    font-size: 15px;
    font-family: firagolight;

}

.first_line_menu p {
    color: #363B42;
    font-size: 15px;
    font-family: firagolight;
}




.sub_menu{
  display: none;
}
.active_submenu{
  background-color: #F7F7F7;
  cursor: pointer;
}

.active_submenu{
  color: #212640;
}

.sub_menu > div p a:hover {
    background: #DB447F;
    padding: 2px 8px;
    color: white;
    border-radius: 3px;
}




/**** Main Slider Section  ****/






.full_cont_carousel {
  display: flex;
  flex-wrap: wrap;
}

.main_carousel_content{
    flex: 0 0 27%;
    max-width: 27%;
    background-color: #F7F7F7;
}

.main_carousel_img{
  flex: 0 0 73%;
  max-width: 73%
}
.carousel_container{
  padding: 0px;
}

.main_carousel_inner > div .owl-dots {
    position: absolute;
    right: 0;
    left: 350px;
    bottom: 15px;
    margin: auto;
}

.carousel_img{
  width: 102%;
}

.mn_cr_text_inner {
    padding: 45px;
    height: 100%;
    position: relative;
}


.mn_cr_text_inner h1{
  font-size: 30px;
  font-family: firagobold;
  color: #555555;
     margin-bottom: 20px;
     max-height: 72px;
     overflow: hidden;
}



.mn_cr_text_inner h3{
  font-size: 17px;
  font-family: firagolight;
  margin-bottom: 20px;
  color: #000000;
  max-height: 40px;
  overflow:hidden;
}

.mn_cr_price{
  font-size: 46px;
  font-family: marketsans;
 
    color: #555555;
}

.mn_cr_price span{
  font-size: 36px;
}
.mn_cr_btn {
    position: absolute;
    bottom: 45px;
    width: 76%;
}


.mn_cr_btn a p img{
    max-width: 16px;
    float: right;
}
.mn_cr_btn a p {
    background: #00072D;
    float: left;
    width: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 15px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.3s;
}




.mn_cr_month_text {
    float: right;
    display: flex;
}

.month_text{
font-size: 17px;
 font-family: firagoregular;
  color: #000000;
  display: flex;
  align-items: center;
}
.mn_cr_month{
  font-size: 28px;
  font-family: marketsans;
  color: #555555;
}

.mn_cr_month span{
  font-size: 22px;
}

button.owl-dot.active {
    transform: scale(1.35);
}



/**** Mobile Slider Section  ****/


.mobile_slider_content {
    max-width: 250px;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 35px;
}
.mobile_slider_content_outer{
  background-color: #F7F7F7;
}
.mobile_slider_content h1 {
    font-size: 16px;
    font-family: firagobold;
    text-align: center;
    margin-bottom: 15px;
}

.mobile_slider_content h2 {
    font-size: 12px;
    font-family: firagolight;
    text-align: center;
    margin-bottom: 15px;
}


.mobile_slider_content p {
    font-size: 28px;
    text-align: center;
    font-family: marketsans;
    font-weight: bold;
    color: #555555;
    margin-bottom: 15px;
}

.mobile_slider_content p span {
    font-size: 21px;
}

.slide-main-mobile{
  position: relative;
}


.slide-main-mobile > .owl-dots{
  position: absolute;
  bottom: 15px;
  left: 0;
  right: 0;
  margin: auto;
}


.btn_mobile_slider img{
  max-width: 16px;
  float: right;
      margin-right: 15px;
}
.mobile_slider_img{
  position: relative;
}

.btn_mobile_slider {
    position: absolute;
    bottom: 20px;
    left: 20px;
    width: 100%;
    background-color: rgba(13,38,46, 0.7);
    max-width: 70px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
}







/****  3 Banner Section  ****/


.banner_3_section{
margin-top: 30px;
}




.three_banner {
  padding: 25px 40px;
  background-color: #F0F0F0;
    display: flex;
}

.banner_text {
    width: 60%;
}
.banner_img {
    width: 40%;
    height: 120px;
}
.banner_img img{
   float: right;
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.banner_text h1 {
    font-size: 22px;
    font-family: firagobold;
    margin-top: 20px;
}
.banner_text p {
    font-size: 16px;
    font-family: firagolight;
}





/****  Deals Slider Section ****/
.deals_slider{
  margin-top: 30px;
}

h1.deals_heading {
    font-size: 25px;
    color: #0E141C;
    font-family: firagobold;
    margin-bottom: 30px;
}


.deals_phrase p {
    margin-top: 10px;
    margin-bottom: 5px;
}

.deals_phrase p:first-child {
  margin-right: 10px;
}

.deals_phrase p {
    display: inline-block;
    padding: 1px 3px;
    font-size: 14px;
    font-family: firagobold;
  
}

.phrase_1{
 background: #B6E516;
  color: #00072D; 
  border-radius: 5px;
}


.phrase_2 {

    color: #DB447F;
    border: 1px solid #DB447F;
    border-radius: 5px;
}




p.product_name {
    font-size: 15px;
    font-family: firagolight;
    color: #3E3E3E;
    max-height: 45px;
    overflow: hidden;
}

.deals_img {
    height: 245px;
}

.simmilar_img{
  height: 245px;
}


.deals_img a img{
 width: 100%;
 height: 100%;
 object-fit: contain;
}

.simmilar_img a img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }

.deals_content {
    min-height: 130px;
}


span.full_price_pr {
    font-size: 20px;
    color: #3E3E3E;
    font-family: marketsans;
}

span.full_price_pr span {
    font-size: 14px;
}
span.month_price_pr {
    float: right;
    font-size: 15px;
    font-family: firagolight;
    color: #858585;
}
span.month_numb {
    font-family: marketsans;
    color: #858585;
    font-size: 16px;
}

span.month_numb span {
    font-size: 12px;
}


.extra_phrases p {
    color: #DB447F;
    font-family: firagoregular;
    font-size: 15px;
}











/**** 5 Banner Section  ****/


.banner_5_section{
  margin-top: 30px;
}


.banner_five_left{
position: relative;
}


.banner_see_all {
    position: absolute;
    bottom: 50px;
    width: 100%;
    max-width: 180px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 50px;
    transition: 0.3s;
}

.banner_see_all:hover{
  background-color: white;
  transition: 0.3s;
}
.banner_see_all:hover p{
   color: #00072D;
   transition: 0.3s;
}



.banner_see_all p{
  color: white;
  font-family: firagobold;
  font-size: 20px;
  transition: 0.3s;
}

.banner_five_left img {
  transition: 0.3s;
  transform: scale(1);
}
.banner_all_box p{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  font-family: firagolight;
  color: #000000;
}
.first_half{
  margin-bottom:15px
}
.third_halft{
    margin-bottom: 15px
}




/*** Commercial Destkop ***/


.commercial{
  margin-top: 30px;
}

.commercial_destkop a img{
  width: 100%;
}



/*** Favorite Categories  ***/

.favorite_section{
  margin-top: 30px;
}

.favorite_heading h1 {
    font-size: 30px;
    text-align: center;
    font-family: firagobold;
    color: #0E141C;
}

.favorite_heading a p {
    font-family: firagolight;
    text-decoration: underline;
    text-align: center;
    color: #000000;
    font-size: 20px;
    transition: 0.3s;
}

.favorite_heading a p:hover {
  color: #007bff;
  transition: 0.3s;

}


.favorite_heading {
    margin-bottom: 30px;
}


.favorite_box_img {
    border-radius: 100%;
    overflow: hidden;
  
}

.favorite_box:hover  a p{
  text-decoration: underline;

}





.favorite_box_img img{
  width: 100%;
}


.col-lg-2.favorite_box p {
    font-size: 20px;
    text-align: center;
    font-family: firagolight;
    margin-top: 10px;
}



.favorite_box_first{
  margin-bottom: 30px;
}











/***   Favorite Items Section  ***/

.favorite_item{ 
  margin-top: 30px; 
}
.favorite_item_text{
  background-color: #F0F0F0;
  height: 100%;
}
.favorite_item_text h1{
  font-size: 40px;
  font-family: firagobold;
  color: #0E141C;
  max-width: 170px;
}

.favorite_item_slider{
  background-color: #F0F0F0;
  padding-top: 10px;
  padding-bottom: 10px;
}

.favorite_tx_main{
  padding-right: 0px;
}

.favorite_slider_outer{
padding-left: 0px;
}

.favorite_item_text {
    display: flex;
    align-items: center;
    justify-content: center;
}

.favorite_item_sld{
  background-color: white;
}
.favorite_deals_content{
  padding-left: 10px;
  padding-right: 10px;
}

.deals_phrase_favorite p{
  font-size: 11px;
}

.deals_phrase_favorite p:first-child {
    margin-right: 1px;
}



/****  About Section   ****/

.about_lurji{
  margin-top: 30px;
}

.about_heading{
  margin-bottom: 30px;
  text-align: center;
  font-size: 30;
  color: #000000;
  font-family: firagobold;
}



.about_row{
  display: flex;
  flex-wrap: wrap;
}

.about_first{
  flex: 0 0 21%;
  max-width: 21%;
  margin-right: 0.25%;
  background-color: #F0F0F0;
  padding-top: 35px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 20px;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
}
.text_right_about h1 {
    font-size: 17px;
    font-family: firagobold;
    color: #858585;
    margin-bottom: 0px;

}
.text_right_about p {
    font-size: 13px;
    font-family: firagolight;
    color: #232323;

}
.about_img img {
    float: left;
}
.text_right_about{
  float: right;
}


.about_second{
  flex: 0 0 19.5%;
  max-width: 19.5%;
  background-color: #F0F0F0;
padding-top: 35px;
  padding-bottom: 20px;
    padding-left: 15px;
  padding-right: 15px;
   margin-right: 0.25%;
}


.about_third{
  flex: 0 0 16%;
  max-width: 16%;
  background-color: #F0F0F0;
    padding-top: 30px;
  padding-bottom: 20px;
   padding-left: 15px;
  padding-right: 15px;
   margin-right: 0.25%;
}

.third_text_about {
  max-width: 140px;
}


.about_fourth{
  flex: 0 0 22.5%;
  max-width: 22.5%;
  background-color: #F0F0F0;
   padding-left: 15px;
  padding-right: 15px;
   margin-right: 0.25%;
  padding-top: 35px;
    padding-bottom: 20px;
}

.about_fifth{
  flex: 0 0 20%;
  max-width: 20%;
  background-color: #F0F0F0;
    padding-left: 20px;
  padding-right: 30px;
 padding-top: 35px;
  padding-bottom: 20px;
  border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
}





/***  Footer Section  ***/


footer{
  background-color: #00072D;
  margin-top: 30px;
 
}

.footer_main {
    max-width: 1100px;
    margin: auto;
}

.row_footer {
    display: flex;
    justify-content: space-between;
}

.f_sc_footer h5 {
    font-size: 16px;
    color: #DB447F;
    font-family: firagomedium;
}

.f_sc_footer p {
    font-size: 15px;
    color: #C9C9C9;
    font-family: firagolight;
}


.row_footer{
 padding-top: 40px;
  padding-bottom: 40px;
}


p.social {
    margin-top: 5px;
    margin-bottom: 5px;
}

.mail p {
    font-family: firagolight;
    font-size: 13px;
    margin-bottom: 3px;
}

.input_mail input {
    font-family: firagolight;
    border: 0px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
    height: 100%;
    font-size: 13px;
}


.input_mail input:focus {
  outline-width: 1px;

  outline-color: #DB447F;
}
.input_mail p {
    background-color: #DB447F;
    padding-top: 5px;
    padding-bottom: 6px;
    padding-right: 7px;
    padding-left: 7px;
    font-size: 12px;
    font-family: firagoregular;
    color: white;
    float: right;
    cursor: pointer;
}

.f_sc_footer p a{
  transition: 0.3s;
}
.f_sc_footer p a:hover{
color: white;
  transition: 0.3s;
}

p.social a img {
    padding-right: 5px;
}


.bottom_footer p {
    color: white;
    font-family: firagoregular;
    color: #DB447F;
    float: left;
    font-size: 12px;
}

.watermark{
  padding-right: 5px;
}

.watermark span{
  font-family: marketsans;
}

.bottom_footer {
    padding-bottom: 15px;
    border-top: 1px solid #353434;
    padding-top: 10px
}


#body{
  position: relative;
  transition:0.5s;
  left: 0px;
  overflow-x: hidden !important;
}

#menu_mobile {
  transition: margin-left .5s;
  padding: 16px;
  padding-top: 0px;
  padding-bottom: 0px;
}

.sidenav_heading {
    display: flex;
    justify-content: space-between;
    background: #0E141C;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 11;
}
.sidenav_heading p{
  color: white;
  font-size: 16px;
  font-family: firagobold;
}
.closebtn_mobile {
    margin-left: 0px;
    color: #DB447F;
}
.closebtn_mobile:hover {
   color: #DB447F;
}

.outer_li_menu{
  padding-top: 12px;
  padding-bottom: 12px;
  margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #c1bcbc;

}


.children_ul{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    top: 0;
    padding-top: 65px;
    left: 250px;
    transition: 0.5s;
    padding-bottom: 40px;
    z-index: 10;
}
ul.parent_ul {
    position: relative;
    transition: 0.5s;
    height: 90%;
    overflow: scroll;
    left: 0px;
    top: 0;
}


li.perv_menu a {
    color: #DB447F!important;
    font-family: firagomedium !important;
}

ul.parent_ul li:last-child {
    border-bottom: 0px;
}

.children_ul li:last-child {
    border-bottom: 0px;
}



.inner_li_menu li{
  padding-top: 12px;
  padding-bottom: 12px;
 margin-left: 15px;
  margin-right: 15px;
  border-bottom: 1px solid #c1bcbc;

}

.mb_menu_content ul li a {
  text-decoration: none;
  font-size: 12px;
  font-family: firagolight;
  color: #141C27;
  display: block;
  transition: 0.3s;
}

.mb_menu_content {
    overflow-x: hidden;
    height: 92%;
}



.sidenav {
  height: 100%;
  max-height: 100vh !important;
  width: 250px;
  position: fixed;
  z-index: 11;
  top: 0;
  left: -250px;
  background-color: #e6e6e6;
  overflow: hidden;
  transition: 0.5s;


}


.user_mob_side {
    background-color: #F7F7F7;
    display: flex;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 11;
}

.login_mob {
    width: 80%;
}

.user_icon {
    width: 20%;
    display: flex;
}

.login_mob {
    display: flex;
    justify-content: space-between;
   padding: 10px 20px;
}
.login_mob p {
    font-size: 14px;
    text-decoration: underline;
    color: #0E141C;
}


span.menu_next {
    float: right;
    padding: 10px;
    position: relative;
    top: -10px;
}

.menu_prev{
 padding-right: 10px; 
}
    

.panel {
  width: 100%;
  padding: 0 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  position: relative;
    top: -5px;
}


.active_sub_menu{
  transform: rotate(90deg);

}
.accordion{
  transition: 0.2s;
}

.panel ul li a {
    color: #141C27;
    font-family: firagoregular;
}

.panel ul li{
  margin: 0px;
}





/*****   Search Page   *****/




/** Search Product Location **/

.pr_lc_cont {
    padding: 20px 0px;
}


.pr_lc_cont p {
  display: inline-block;
    font-size: 13px;
    color: #000000;
    font-family: firagolight;
    transition: 0.3s;
}


.pr_lc_cont p:hover {
  color: #007bff;
  transition: 0.3s;
}


.search_row {
    border-top: 1px solid #DFDFDF;
}

.result_container{
  border-left: 1px solid #DFDFDF;
}

/***  Search Container ***/


.panel_category {
padding-left: 20px;
padding-top: 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
}

.accordion_search{
  cursor: pointer;
}

p.accordion_search {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}
.accordion_search{
  position: relative;
}
.accordion_search:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
        right: 0px;
    top: 4px;
}

.active_search:after {
  background-image: url(../img/minus.svg);
   top: 10px;
}

.filter_side {
    margin-top: 15px;
    padding-right: 0px;

}

.cateogy_cont_inner {
    padding-right: 15px;
}



.panel_category a p {
    font-family: firagolight;
    font-size: 14px;
    color: #000000;
}

.see_all_cat{
   display: flex;
    justify-content: space-between;
    padding-top: 15px;
}
.see_all_cat p {
 
    color: #000000;
    font-family: firagolight;
    font-size: 15px;
    text-decoration: underline;
    width: 100%;
    cursor: pointer;
}
.see_all_cat img{
  cursor: pointer;
}

.see_all_active{
  max-height: 100% !important;
}

.cateogy_container {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 15px;
}


.cat_list{
  max-height: 275px;
  overflow: hidden;
}

.active_cat_choosen{
  font-family: firagomedium !important;
}

p.filter {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}


span.delete_filter {
    float: right;
    font-family: firagolight;
    color: #000000;
    font-size: 12px;
    text-decoration: underline;
    padding-top: 2px;
    cursor: pointer;
}


.inner_filter {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 10px;
}

.filter_container {
    border-bottom: 1px solid #DFDFDF;
}

.chosen_filt_cont{
  margin-top: 10px;
}

.chosen_filt_cont p {
    display: inline-block;
    background: #F7F7F7;
    padding: 7px 9px;
    color: #616161;
    margin-bottom: 5px;
    font-size: 14px;
    font-family: firagolight;
}



.dlt_cur_fltr img{
  transition: 0.3s;
}




.dlt_cur_fltr img:hover{
cursor: pointer;
transform: scale(1.1);
transition: 0.3s;
}




.price_btn{
  cursor: pointer;
}

p.price_btn {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}

.price_btn{
  position: relative;
}

.price_btn:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}



.price_btn_active:after {
  background-image: url(../img/minus.svg);
  top: 10px;

}


.panel_price {

padding-top: 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
}

.price_inner {
    margin-top: 15px;
    padding-right: 15px;
}

.price_container {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 15px;
}

.panel_price input:focus {
  outline: none;
}

.panel_price input {
    float: left;
    max-width: 42%;
    padding: 10px 5px;
    border: 1px solid #00072D;
    color: #9F9F9F;
    font-size: 14px;
    font-family: firagolight;
    text-align: center;

}

.panel_price input:first-child {
  margin-right: 5px;
}


.panel_price a img {
    margin-left: 5px;
}






.pr_type{
  cursor: pointer;
}

p.pr_type {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}

.pr_type{
  position: relative;
}

.pr_type:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}



.pr_type_active:after {
  background-image: url(../img/minus.svg);
  top: 10px;

}




.pr_type_panel {

padding-top: 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
    overflow-y: auto;
}
.pr_type_container {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}

.pr_type_inner {
    margin-top: 15px;
    padding-right: 15px;
}


.scroll_style::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  
  background-color: #f1f1f1;
}

.scroll_style::-webkit-scrollbar
{
  width: 10px;
  background-color: #f1f1f1;
}

.scroll_style::-webkit-scrollbar-thumb
{

  background-color:#0e141c;
}







legend {
  padding: 3px 6px;
  color: white;
  background-color: black;
}
.form_design{
      overflow: hidden;
    position: relative;
    z-index: 11;
}

.form_design input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.form_design input[type="checkbox"] + label {
  display: flex;
  align-items: center;
}
.form_design input[type="checkbox"] + label::before {
    content: "";
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background: #ffffff;
    border: 1px solid #D8D8D8;
    cursor: pointer;
    transition: 0.3s ease;
}
.form_design input[type="checkbox"] + label .tick {
  position: absolute;
  stroke: white;
  stroke-width: 3px;
  stroke-dasharray: 19px;
  stroke-dashoffset: 19px;
  transition: 0.2s 0.1s ease;
  cursor: pointer;
}
.form_design input[type="checkbox"]:checked + label::before {
  background: #DB447F;
}
.form_design input[type="checkbox"]:checked + label .tick {
  stroke-dashoffset: 0;
}

.form_design input[type="checkbox"]:disabled + label::before {
  background: #a3b6bb;
}





.condition_btn{
  cursor: pointer;
    position: relative;
}



p.condition_btn {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}

.condition_btn:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}



.condition_btn_active:after {
  background-image: url(../img/minus.svg);
  top: 10px;

}






.condition_inner {
    margin-top: 15px;
    padding-right: 15px;
}


.condition_container {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}

.condition_panel {

padding-top: 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
  overflow-y: auto;
}




.location_btn{
  cursor: pointer;
    position: relative;
}



p.location_btn {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}

.location_btn:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}



.location_btn_active:after {
  background-image: url(../img/minus.svg);
  top: 10px;

}



.location_panel {

padding-top: 10px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
  overflow-y: auto;
}



.form-group {
    margin-bottom: 0rem; 
}


.location_container {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}


.location_inner {
    margin-top: 15px;
    padding-right: 15px;
}





.size_btn{
  cursor: pointer;
    position: relative;
}



p.size_btn {
    font-size: 15px;
    color: #00072D;
    font-family: firagobold;
}

.size_btn:after {
    content: "";
    width: 13px;
    height: 13px;
    background-image: url(../img/plus.svg);
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    top: 4px;
}



.size_btn_active:after {
  background-image: url(../img/minus.svg);
  top: 10px;

}



.size_panel {

  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  transition: 0.3s;
  overflow-y: auto;
}



.size_container {
    padding-bottom: 15px;
    border-bottom: 1px solid #DFDFDF;
}


.size_inner {
    margin-top: 15px;
    padding-right: 15px;
}


.active_cat_name{
  font-family: firagoregular !important;
}





/***  Result Container   ***/


.searched_pr_row {
    display: flex;
    flex-wrap: wrap;
}



.active_heart_pr{
      fill: #DB447F;
    stroke-width: 0px;
}


.animation_svg{
   animation: pulse 0.2s;
}

.disactive_svg{
    animation: pulseTwo 0.2s;
}

@keyframes pulse {
  from {
    transform: scale(1.2);
  }
}

@keyframes pulseTwo {
  from {
    transform: scale(1.2);
  }
}



.add_wishlist {
    position: absolute;
    top: 15px;
    right: 15px;
    cursor: pointer;
    transition: 0.3s;
    opacity: 0;
}

.product_img:hover .add_wishlist{
  opacity: 1 !important;
}

.product_img {
    position: relative;
    height: 254px;
}

.add_wishlist:hover #add_wishlist {
    stroke-width: 1;
    stroke: rgb(255, 0, 112);
    transition: 0.3s;
}



.product_main {
    padding: 0px 15px;
}

.product_inner {
    border-bottom: 1px solid #DFDFDF;
    padding-bottom: 15px; 
}




span.searched_word {
    font-size: 13px;
    font-family: firagolight;
    color: #000000;
}

span.searched_numb_all {
    font-size: 13px;
    font-family: firagolight;
    color: #000000;
}

span.searched_numb {
    font-family: marketsans;
}
.search_sort {
    display: flex;
    padding-top: 15px;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
}

span.sort_text {
    color: #00072D;
    font-family: firagobold;
    font-size: 15px;
}

span.line_sort {
    color: #DFDFDF;
}


span.sort_selector {
    font-family: firagoregular;
    color: #878787;
    padding-left: 5px;
    cursor: pointer;
    padding-right: 5px;
}


ul.choose_sort li {
    color: #000000;
    font-size: 14px;
    font-family: firagoregular;
    text-align: left;
    cursor: pointer;

}

ul.choose_sort {
   background: #ececec;
    padding:5px;
}

.sort_category {
    position: absolute;
    z-index: 8;
    width: 58%;
    right: 0;
    display: none;
}

.sorting {
    position: relative;
}

li.active_sort {
    background: #00072d;
    color: white !important;
    margin-left: -5px;
    margin-right: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.show_sort{
  display: block !important;
}



.product_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}




.product_main {
flex: 0 0 25%;
max-width: 25%;
margin-top: 15px;
}






 .textarea_inner {
    background: white;
    border-radius: 23px;
    padding-top: 43px;
    display: none;
    overflow:hidden;
}


.search_textarea {
    position: absolute;
    width: 98%;
    z-index: 10;
    left: 8px;
    top: 15px;
}



.textarea_inner ul a li {

    padding-top: 5px;
    padding-bottom: 5px;
    font-family: firagolight;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;

}

.textarea_inner ul {
    padding-top: 4px;
}


.textarea_inner ul a li:hover {
    background: #00072d;
    width: 100%;
    padding-right: 0px;
    color: white;
}





/****    Busket Section   ****/


.basket_heading h1 {
  margin-top: 50px;
  padding-left: 115px;
  font-family: firagoregular;
}
.basket_heading {
  width: 100%;
}


.flex_court {
  display: flex;
}

.cart_img {
  width: 15%;
}

.inner_cart_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.inner_cart_img {
  max-width: 87px;
  height: 87px;
}



.cart_text {
  width: 62%;
}

.cart_item_name p {
  font-family: marketsans;
  color: #0E141C;
  font-size: 18px;
  max-width: 350px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.cart_cond p {
  font-size: 15px;
  font-family: firagolight;
  color: #000000;
  margin: 10px 0px;
}

.cart_prop p {
text-decoration: underline;
  font-size: 15px;
  font-family: firagoregular;
  color: #000000;
  cursor: pointer;
}

.cart_prop {
  max-width: 370px;
  display: flex;
  justify-content: space-between;
}

.cart_price {
  width: 23%;
  display: flex;
  justify-content: space-between;
}

.cart_count p span {
  font-family: marketsans;
}
.cart_count p {
  font-family: firagolight;
  color: #000000;
  font-size: 15px;
}

.cart_pr_detail p {
  font-size: 17px;
  font-family: marketsans;
  color: #0E141C;
}
.cart_pr_detail p span {
  font-size: 12px;
}



.flex_court {
  padding-bottom: 20px;
  border-bottom: 1px solid #CFCFCF;
  margin-top: 20px;
}

.flex_court:first-child {
  margin-top:0px;
}

.flex_court:last-child {
  border-bottom: 0px;
}


.cart_all_detail {
  background: #F0F0F0;
  padding: 25px 0px;
  padding-left: 40px;
  padding-right: 20px;
}

.cart_sum {
  display: flex;
  justify-content: space-between;
}

.cart_result {
  display: flex;
  justify-content: space-between;
}

.cart_delivery {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.cart_sum_text{
  font-size: 15px;
  color: #000000;
  font-family: firagoregular;
}

.cart_sum_num{
  font-family: marketsans;
  font-size: 15px;
}

.cart_sum_num span{
  font-size: 12px;
}



.cart_del_text{
  font-size: 15px;
  color: #000000;
  font-family: firagoregular;
}

.cart_del_num{
  font-family: marketsans;
  font-size: 15px;
}

.cart_del_num span{
  font-size: 12px;
}

.cart_res_text{
  font-size: 22px;
  font-family: firagobold;
  color:#0E141C;
}


.cart_res_num{
  font-size: 22px;
  font-family: marketsans;
  color:#0E141C;
}


.cart_res_num span{
  font-size: 17px;
}

.cart_buy {
  background: #00072D;
  border-radius: 3px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.cart_buy a p {
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #FFFFFF;
  text-align: center;
  font-family: firagolight;
}

.credit_buy {
  display: flex;
  justify-content: space-between;
}

.credit_left a span {
  font-family: firagoregular;
  font-size: 16px;
  text-decoration: underline;
}

.credit_right p {
  font-size: 15px;
  color: #000000;
  font-family: firagolight;
}
.credit_right p span {
  font-family: marketsans;
}


.how_buy_inner {
  background: #F7F7F7;
  padding: 50px;
  padding-bottom: 80px;
}
.how_buy_inner h1 {
  font-size: 25px;
  text-align: center;
  font-family: firagomedium;
  color: #1A1A1A;
  margin: 0px;
  margin-bottom: 40px;
}

.how_buy_steps {
  display: flex;
  justify-content: space-between;
}

.first_step img {
  display: block;
  margin: auto;
}

.second_step img {
  display: block;
  margin: auto;
}


.third_step img {
  display: block;
  margin: auto;
}


.three_sec {
  display: flex;
  width: 100%;
  justify-content: space-between;
}


.three_sec img{
padding:0px 5px;
}

.three_sec img {
  margin: unset;
}

.first_step p {
  font-size: 15px;
  color: #000000;
  font-family: firagolight;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: center;
}


.second_step p {
  margin-top: 7px;
  font-size: 15px;
  color: #000000;
  font-family: firagolight;
}

.second_step img {
  display: block;
  margin: auto;
}
.second_step p {
  margin-top: 7px;
  font-size: 15px;
  color: #000000;
  font-family: firagolight;
  margin-bottom: 25px;
  text-align: center;
}

.third_step p {
  font-size: 15px;
  color: #000000;
  font-family: firagolight;
  margin-top: 7px;
  margin-bottom: 15px;
}

.cart_how_buy h5{
  color:#000000;
  font-size: 15px;
  font-family: firagolight;
  margin-top: 30px;
  margin-bottom: 35px;
  text-align: center;
}


.may_like h1 {
  color: #0E141C;
  font-size: 25px;
  font-family: firagobold;
  margin-top: 50px;
  margin-bottom: 30px;
}



.cart_modal {
  position: fixed;
  background: white;
  width: 100%;
  max-width: 555px;
  height: 100%;
  max-height:100vh !important;
  top: 0;
  right: -555px;
  z-index: 11;
  transition: 0.5s;
}
.cart_modal_inner {
  overflow: auto;
  height: 100%;
  position: relative;
}

.cart_modal_content {
  padding: 75px;
  padding-top: 60px;
    padding-bottom: 60px;
}

.cart_modal_content h1 {
  color: #1A1A1A;
  font-family: firagobold;
  font-size: 32px;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
}

.cr_modal_product {
  display: flex;
}

.cr_product_img {
  height: 87px;
  max-width: 87px;
  margin-right: 30px;
}
.cr_product_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

p.cr_md_heading {
  font-family: marketsans;
  color: #0E141C;
  font-size: 14px;
  max-width: 280px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

p.cr_md_conditon {
  color: #000000;
  font-size: 15px;
  font-family: firagolight;
  margin: 10px 0px;
}


.cr_product_option {
  display: flex;
  justify-content: space-between;
}

p.cr_md_count {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
}

p.cr_md_count span {
  font-family: marketsans;
}
p.cr_md_price {
  color: #0E141C;
  font-family: marketsans;
  font-size: 17px;
}

p.cr_md_price span {
  font-size: 12px;
}

.cr_modal_product {
  border-bottom: 1px solid #CFCFCF;
  padding-bottom: 20px;
  padding-top: 20px;
}




.cd_all_product > div:last-child{

  border-bottom: 0px solid #CFCFCF;
}

.cr_modal_sum {
  margin-top: 20px;
  background-color: #F7F7F7;
  padding: 30px;
}

.cr_sum_inner {
  display: flex;
  justify-content: space-between;
}


.cr_sum_text{
  color:#0E141C;
  font-size: 22px;
  font-family: firagobold;
}
.cr_sum_num{
  color: #0E141C;
  font-family: marketsans;
  font-size: 25px;
}

.cr_sum_num span{
  font-size: 17px;
}


.cr_detailed h5 {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}
.cr_detailed_btn a p {
  background-color: #00072D;
  color: white;
  text-align: center;
  padding: 15px 0px;
  font-family: firagolight;
  font-size: 18px;
  border-radius: 3px;
}
.cr_detailed_btn {
  margin-bottom: 15px;
}

.cr_cont_search a p {
  border: 1px solid #00072D;
  text-align: center;
  padding: 15px 0px;
  font-family: firagolight;
  color: #00072D;
  border-radius: 3px;
  font-size: 18px;
}

.cr_help {
  background-color: #F7F7F7;
  margin-top: 20px;
  padding: 45px 55px;
}

.cr_help_inner h5 {
  color: #1A1A1A;
  font-family: firagomedium;
  text-align: center;
  margin: 0px;
  margin-bottom: 25px;
  font-size: 25px;
}
p.cr_will_find {
  color: #000000;
  font-size: 15px;
  font-family: firagolight;
  margin-bottom: 25px;
  text-align: center;
}
p.cr_will_find a {
  text-decoration: underline;
  transition: 0.3s;
}

p.cr_will_find a:hover {
  transition: 0.3s;
  color: #007bff;
}


p.cr_contact {
  text-align: center;
  font-family: firagoregular;
  font-size: 18px;
  margin-bottom: 25px;
}


p.cr_cont_det {
  color: #000000;
  font-size: 15px;
  font-family: firagolight;
  text-align: center;
}

p.cr_cont_det a {
  text-decoration: underline;
  transition: 0.3s;
}

p.cr_cont_det a:hover {
  transition: 0.3s;
  color: #007bff;
}

.cr_x_button {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}


.product_not {
  padding-bottom: 20px;
}
.pr_not_first h5 {
  font-size: 18px;
  color: #FF0070;
  font-family: firagoregular;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 12px;
}


.pr_not_first p {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
  text-align: center;
}

.pr_not_first > p:nth-child(2) {
margin-bottom: 12px;
}

.pr_not_first {
  margin-bottom: 35px;
}
.pr_not_second img {
  margin: auto;
  display: block;
}

.pr_not_second h5 {
font-family:firagolight;
color: #000F39;
font-size: 18px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center;
}

.pr_not_second a p {
  text-align: center;
  color: #0E141C;
  font-family: firagoregular;
  font-size: 20px;
  text-decoration: underline;
  transition: 0.3s;
}


.pr_not_second a p:hover {
  transition: 0.3s;
  color: #007bff;
}

.empty_inner {
  max-width: 330px;
  margin: auto;
}

.empty_text h4 {
  margin-top: 60px;
  margin-bottom: 30px;
  font-family: firagobold;
  color: #0E141C;
  font-size: 25px;
  text-align: center;
}

.empty_text h5 {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: center;
  color: #FF0070;
  font-family: firagoregular;
}

.empty_text p {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
  text-align: center;
}


.empty_img {
  margin-top: 60px;
  margin-bottom: 100px;
}

.empty_img img {
  display: block;
  margin: auto;
}


.empty_item_row{
  display: none;
}


.change_item {
  position: fixed;
  background: white;
  width: 100%;
  max-width: 555px;
  height: 100%;
  max-height:100vh !important;
  top: 0;
  right: -555px;
  z-index: 11;
  transition: 0.5s;
}
.inner_change_item {
  overflow: auto;
  height: 100%;
  position: relative;
}


.change_x_button {
  position: absolute;
  right: 35px;
  top: 30px;
  cursor: pointer;
}

.inner_change_item {
  padding: 100px 80px;
}

.heading_change h5 {
  color: #0E141C;
  font-size: 23px;
  font-family: marketsans;
  margin-bottom: 20px;
}
.heading_change p {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
  margin-bottom: 20px;
}

.pr_change_inner p {
  color: #0E141C;
  font-size: 30px;
  font-family: marketsans;
}
.pr_change_inner p span {
  font-size: 21px;
}

.price_change{
  margin-bottom: 10px; 
}
.price_change {
  display: flex;
  justify-content: space-between;
}

.change_wishlist {
  display: flex;
  cursor: pointer;
}

.quantity_change_cart p {
  color: #000000;
  font-size: 15px;
  font-family: firagolight;
  padding: 10px 0px;
  cursor: pointer;
}

.quantity_change_cart p span {
  font-family: marketsans;
}

.quantity_change_cart{
  position: relative;
  margin-bottom: 10px;
  border-bottom: 1px solid #CFCFCF;
}

.quantity_change_cart i {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
}

.change_quant_content {
  position: absolute;
  background: #F7F7F7;
  width: 100%;
  z-index: 10;
  display: none;

}

.active_chng_quant{
  display: block;
}

.change_quant_content ul {
  max-height: 320px;
  overflow: auto;
}
.change_quant_content ul li {
  font-size: 15px;
  font-family: marketsans;
  color: #000000;
  padding: 5px 10px;
  cursor: pointer;
}

.change_quant_content ul li.active_quant {
  background: #0E141C;
  color: white;
}





.color_change_cart {
  position: relative;
  border-bottom: 1px solid #CFCFCF;
}

.color_change_cart p {
  color: #000000;
  font-size: 15px;
  font-family: marketsans;
  padding: 10px 0px;
  cursor: pointer;
}



.color_change_cart i {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: fit-content;
}


.color_change_cart {
  border-bottom: 1px solid #CFCFCF;
}



.change_color_content {
  position: absolute;
  background: #F7F7F7;
  width: 100%;
  z-index: 10;
  display: none;

}

.active_chng_color{
  display: block;
}

.change_color_content ul {
  max-height: 320px;
  overflow: auto;
}
.change_color_content ul li {
  font-size: 15px;
  font-family: marketsans;
  color: #000000;
  padding: 5px 10px;
  cursor: pointer;
}

.change_color_content ul li.active_color {
  background: #0E141C;
  color: white;
}












.btn_change{
  margin-top: 30px;
}

.img_change img {
  width: 100%;
}

.img_change {
  margin-top: 30px;
}

.btn_change p {
  background: #00072D;
  color: white;
  padding: 15px 0px;
  text-align: center;
  font-family: firagolight;
  font-size: 18px;
  border-radius: 3px;
  cursor: pointer;
}



/**** Product Page ****/


.product_map {
  padding: 15px 0px;
}

.product_map p {
  color: #000000;
  font-family: firagolight;
}

.slider_content {
  display: flex;
}


.scroll_img > .img{
  max-width: 87px;
  height: 69px;
  margin-bottom: 30px;
}
.img:last-child{
  margin-bottom: 0px;
}

.img > img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  cursor: pointer;
}

.main_img {
  padding-left: 15px;
  position: relative;
}
.wishlist_prod_in {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.img_next {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  cursor: pointer;
  padding-top: 10px;
}

.img_prev {
  display: flex;
  justify-content: center;
  padding-right: 15px;
  cursor: pointer;
  padding-bottom: 10px;
}
.active_img {
  border: 1px solid #DCDCDC;
  padding: 2px;
}

.img_prev img {
  transform: rotate(180deg);
}

.slider_imgs{
  padding-right: 15px;
}

.slider_imgs {
  max-height: 370px;
  overflow: hidden;
}


.slider_imgs::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  
  background-color: #f1f1f1;
}

.slider_imgs::-webkit-scrollbar
{
  width: 5px;
  background-color: #f1f1f1;
}

.slider_imgs::-webkit-scrollbar-thumb
{

  background-color:#0e141c;
}

.main_img img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.main_img {
  width: 100%;
  height: 435px;
}


.slider_img_main {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}

.spec_prod {
  display: flex;
  justify-content: space-between;
}

p.prod_id {
  font-size: 16px;
  font-family: firagoregular;
  color: #848484;
}

p.sold_numb {
  font-size: 13px;
  font-family: firagolight;
  color: #0E141C;
}

p.sold_numb span {
  font-family: marketsans;
}

.prod_name p {
  color: #0E141C;
  font-family: firagoregular;
  font-size: 20px;
}
.made_by {
  padding: 10px 0px;
}

.made_by p {
  color: #0E141C;
  font-size: 15px;
  font-family: firagolight;
}
.made_by p span {
  font-family: marketsans;
}

.rating p span {
  color: #8D8D8D;
  font-size: 15px;
  font-family: firagoregular;
  text-decoration: underline;
  position: relative;
  top: 2px;
}

.rating p span i {
font-style: normal;
}

.product_first_sec {
  padding-bottom: 10px;
  border-bottom: 1px solid #DFDFDF;
}
.in_stock {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}



p.stock_count {
  color: #0E141C;
  font-size: 15px;
  font-family: firagolight;
}

p.stock_count span{
  font-family: marketsans;
}

p.phrases {
  padding-left: 20px;
}


p.phrases span {
  display: inline-block;
  border: 1px solid #DB447F;
  color: #DB447F;
  border-radius: 50px;
  padding: 0px 7px;
  font-size: 14px;
  font-family: firagolight;
}


.price_section{
  display: flex;

}

.new_price p {
  color: #0E141C;
  font-size: 28px;
  font-family: firagobold;
}

.new_price{
padding-right: 10px;
}

.new_price p span {
  font-size: 19px;
}

.old_price p {
  color: #8D8D8D;
  font-family: firagolight;
  font-size: 25px;
}

.old_price p span {
  font-size: 18px;
}
.old_price{
  position: relative;
  top: 4px;
}

.old_price::after {
  content: "";
  position: absolute;
  top: -5px;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 2px;
  background: #8D8D8D;
}

.discount span {
  color: #0E141C;
  font-size: 15px;
  font-family: firagoregular;
  border: 1px solid #0E141C;
  padding: 5px 10px;
  border-radius: 5px;
}

.discount {
  margin-top: 5px;
}

.condition p {
  color: #0E141C;
  font-size: 15px;
  font-family: firagolight;
  padding: 10px 0px;
}

.condition p span {
  font-family: firagoregular;
}
.options {
  display: flex;
}

.spec_color {
  margin-right: 15px;
  position: relative;
}


.spec_color p {
  color: #0E141C;
  font-size: 16px;
  font-family: firagoregular;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 7px 15px;
  cursor: pointer;
}

span.current_color {
  padding-right: 15px;
}




.spec_quant p {
  color: #0E141C;
  font-size: 16px;
  font-family: firagoregular;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  padding: 7px 15px;
  cursor: pointer;
}

span.current_quant {
  padding-right: 15px;
}


.spec_color_choose {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  max-height: 100px;
  overflow: auto;
  display: none;
}
.active_spec_color{
  display: block;
}



.spec_color_choose::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  
  background-color: #f1f1f1;
}

.spec_color_choose::-webkit-scrollbar
{
  width: 3px;
  background-color: #f1f1f1;
}

.spec_color_choose::-webkit-scrollbar-thumb
{

  background-color:#0e141c;
}


.spec_color_choose ul li {
  padding-left: 15px;
  color: #0E141C;
  cursor: pointer;
}

.spec_color_choose ul li:hover{
  background-color: #0E141C;
  color: white;
}


.spec_quant{
  position: relative;
}



.spec_quant_choose {
  position: absolute;
  width: 100%;
  background: white;
  border: 1px solid #DCDCDC;
  border-radius: 3px;
  max-height: 100px;
  overflow: auto;
  display: none;
}
.active_spec_quant{
  display:block;
}


.spec_quant_choose ul li {
  padding-left: 15px;
  color: #0E141C;
  cursor: pointer;
}

.spec_quant_choose ul li:hover{
  background-color: #0E141C;
  color: white;
}

.spec_quant_choose::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
  
  background-color: #f1f1f1;
}

.spec_quant_choose::-webkit-scrollbar
{
  width: 3px;
  background-color: #f1f1f1;
}

.spec_quant_choose::-webkit-scrollbar-thumb
{

  background-color:#0e141c;
}

.product_second_sec {
  padding-bottom: 15px;
  border-bottom: 1px solid #DFDFDF;
}


.specifications h5 {
  color: #0E141C;
  font-family: firagoregular;
  font-size: 15px;
  margin-bottom: 15px;
  margin-top: 15px;
}

.specifications p {
  color: #000000;
  font-family: firagolight;
  font-size: 14px;
}



.see_more_spec {
margin-top: 10px;
}


.see_more_spec span {
  color: #0E141C;
  font-family: firagolight;
  font-size: 15px;
  text-decoration: underline;
  cursor: pointer;
}



.right_section {
  width: 30%;
}


.product_description {
  width: 70%;
  padding-right: 15px;
}

.middle_section {
  display: flex;
}


.right_section{
  padding-left: 15px;
}



.buy_inner {
  padding: 30px;
  padding-top: 25px;
    padding-bottom: 0px;
  border: 1px solid #DFDFDF;
}

.buy_first_sec i {
  font-style: normal;
}


p.buy_price {
  color: #000000;
  font-family: firagolight;
  font-size: 15px;
}


p.buy_price i {
  font-size: 13px;
}
p.buy_price span {
  font-size: 19px;
  font-family: marketsans;
}

p.buy_address {
  font-size: 15px;
  font-family: firagolight;
  color: #0E141C;
}

p.buy_address span {
  font-family: firagoregular;
  color: #0E141C;
}

p.delivery_time {
  font-size: 15px;
  font-family: firagolight;
  color: #000000;
}

p.delivery_time span {
  font-family: firagoregular;
}

p.delivery_price {
  font-size: 15px;
  font-family: firagolight;
  color: #000000;
}


p.delivery_price i {
  font-size: 12px;
}

p.delivery_price span {
font-family: firagoregular;
}

.buy_first_sec p {
  line-height: 1.6;
}

.buy_first_sec {
  margin-bottom: 40px;
}

.buy_btn a p {
  background: #000624;
  color: white;
  text-align: center;
  font-size: 17px;
  font-family: firagolight;
  border-radius: 3px;
  padding: 12px 0px;
}

.add_to_cart a p {
  border: 1px solid #C4C4C4;
  border-radius: 3px;
  text-align: center;
  padding: 12px 0px;
  font-family: firagoregular;
  font-size: 16px;
  color: #000624;
}

.buy_btn {
  margin-bottom: 10px;
}
.credit_buy_cont {
  background: #F0F0F0;
  margin: 0px -30px;
  padding: 0px 30px;
}


.buy_second_sec {
  margin-bottom: 30px;
}

.credit_btn span {
  color: #464646;
  font-size: 15px;
  font-family: firagoregular;
}


.credit_btn span i {
font-style: normal;
font-size: 14px;
}

.credit_btn span span {
  font-size: 18px;
}

.credit_btn {
  padding-top: 15px;
  width: 100%;
}

.credit_btn a p {
  margin-top: 5px;
  background: #2153FB;
  color: white;
  text-align: center;
  font-family: firagolight;
  font-size: 17px;
  padding: 12px 0px;
  border-radius: 3px;
}


.bank_imgs {
  max-width: 180px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.credit_info {
  margin-top: 25px;
  padding-bottom: 25px;
}

.space {
  padding-left: 15px;
}

.credit_info p {
  color: #0E141C;
  font-family: firagolight;
  text-align: center;
  text-decoration: underline;
  font-size: 15px;
  margin-top: 25px;
}


.specifications {
  max-width: 320px;
}


.slide_for_main img{
  width: 100%;
}


.slick-slide {
  outline: none;
}

.nav_imgs_slick.slick-current img {
  border: 1px solid rgba(156, 156, 156, 0.5);;
}

.slide_for_full {
  position: relative;
}

p#prew_arrow {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 30px;
  padding: 10px 10px;
  background-color: rgba(0,0,0,0.5);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

p#prew_arrow img {
  width: 100%;
}



p#next_arrow {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  bottom: 0;
  margin: auto;
  height: 50px;
  width: 30px;
  padding: 10px 10px;
  background-color: rgba(0,0,0,0.5);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

p#next_arrow img {
  width: 100%;
}

.mobile_slider_product {
  margin: 0px -15px;
}


section.description {
  margin-top: 40px;
}

h1.desc_heading {
  color: #0E141C;
  font-size: 25px;
  font-family: firagobold;
}


h1.desc_heading {
  color: #0E141C;
  font-size: 25px;
  font-family: firagobold;
  border-bottom: 1px solid #CFCFCF;
  margin-bottom: 0px;
  padding-bottom: 15px;
}

.simmilar_heading {
  margin-bottom: 30px;
}

.simmilar_heading h1 {
  color: #0E141C;
  font-family: firagobold;
  font-size: 25px;
  margin-top: 30px;
  margin-bottom: 0px;
}

























































/**** Media Section ****/






@media (min-width:1360px){
  .main_img {
    height: 450px;
  }
  
  }



    @media (min-width:1450px){
      .main_img {
        height: 550px;
      }

      .simmilar_img {
        height: 285px;
    }
      
      }

        
  @media (min-width:1600px){
    .main_img {
      height: 600px;
    }
    
    }









@media(max-width: 1360px){

.menu_list ul li {
    font-size: 14px;
    padding: 20px 8px;
}
.offer_name p {
    font-size: 14px;
    padding: 20px 8px;
}
.offer_name p:before {
    top: -2px;
}
.sub_menu {
    top: 142px;
}

.mn_cr_text_inner h1 {
    font-size: 25px;
    margin-bottom: 10px;
}
.mn_cr_text_inner h3 {
    font-size: 13px;
    margin-bottom: 10px;
}
.mn_cr_price {
    font-size: 36px;
}
.mn_cr_price span {
    font-size: 26px;
}
.month_text {
    font-size: 15px;
}
.mn_cr_month {
    font-size: 23px;
}


.banner_img {
    width: 35%;
}
.banner_text {
    width: 65%;
}

.banner_text p {
    font-size: 15px;
}
.three_banner {
    padding: 25px 25px;
}


.banner_see_all {
    max-width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.banner_see_all p {
    font-size: 15px;
}




.deals_phrase p:first-child {
    margin-right: 8px;
}

.deals_phrase p {
    font-size: 12px;
}



.third_text_about {
    max-width: 106px;
}

.text_right_about h1 {
    font-size: 12px;
}

.text_right_about p {
    font-size: 10px;
}


.product_img {
    position: relative;
    height: 200px;
}


.deals_img {
    height: 198px;
}


.cart_text {
  width: 58%;
}


.cart_price {
  width: 28%;
}


.credit_right p {
  font-size: 14px;
  display: inline-block;
}
.credit_left a span {
  font-size: 14px;
}










}









@media(min-width: 1200px){

.right_basket {
    position: sticky;
    top: 10px;
}

.right_section {
  min-width: 335px;
}


}

@media (max-width:1300px){

  .right_section {
    min-width: 310px;
}

}



@media(max-width: 1200px){

  .menu_list ul li {
    font-size: 12px;
    padding: 20px 8px;
}

.offer_name p:before {
    top: 0px;
}

.offer_name p:after {
    border-top: 59px solid #DB447F;

}

.offer_name p {
    font-size: 12px;
}

.offer_name p:before {
    border-bottom: 58px solid #DB447F;
}
.sub_menu {
    top: 127px;
}


.mn_cr_text_inner{
  padding: 20px;
}

.mn_cr_text_inner h1 {
    font-size: 22px;
    margin-bottom: 5px;
}
.mn_cr_text_inner h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

.mn_cr_price {
    font-size: 30px;
}

.mn_cr_price span {
    font-size: 22px;
}

.mn_cr_btn{
  bottom: 20px;
}

.mn_cr_btn a p {
    width: 60px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.banner_text p {
    font-size: 12px;
}

.banner_text h1 {
    font-size: 18px;
}

.banner_see_all{
  bottom: 30px;
}

.banner_all_box p {
  font-size: 15px;
}

.col-lg-2.favorite_box p{
  font-size: 15px;
}


.deals_phrase p:first-child {
    margin-right: 0px;
}


.favorite_item_text h1{
  font-size: 30px;
}


.favorite_item_text h1 {
    max-width: 128px;
}


.about_img {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}


.about_first {

    border-bottom-left-radius: 80px;
    border-top-left-radius: 80px;
}

.about_fifth {
    border-bottom-right-radius: 80px;
    border-top-right-radius: 80px;
}


.product_main {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;

}



  .textarea_inner {
    background: white;
    border-radius: 23px;
    padding-top: 43px;
    display: none;
    overflow:hidden;
}


.search_textarea {
    position: absolute;
    width: 96%;
    z-index: 10;
    left: 11px;
    top: 9px;
}



.textarea_inner ul a li {

    padding-top: 5px;
    padding-bottom: 5px;
    font-family: firagolight;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;

}

.textarea_inner ul {
    padding-top: 3px;
}


.textarea_inner ul a li:hover {
    background: #00072d;
    width: 100%;
    padding-right: 0px;
    color: white;
}

.basket_heading h1 {

    padding-left:0px;

}


.right_section {
  min-width: 290px;
}

.buy_inner {
  padding: 20px;
}

.credit_buy_cont {
  margin: 0px -20px;
}

.product_description {

  padding-right: 0px; 
}












}



@media(min-width: 992px){
  .mn_cr_btn a p:hover{
  width: 80px;
  transition: 0.3s;
}

.sorting_mob{
  display: none;
}

.filter_mob_open{
  display: none;
}

.filter_mobile{
  display: none;
}

.filter_side {
    position: unset;
}


.mobile_menu_btn{
display: none;
}

.search_mobile{
  display: none;
}

.x-search{
  display: none;
}

  .search_container {
  display: flex !important;

}

.scroll_padding{
  margin-right: 17px;
  transition: unset !important;
}

























}

@media(max-width: 992px){
  nav.menu-nav {
    display: none;
}


.x-search{
  display: block;
}

.main_carousel_img {
    flex: 0 0 68%;
    max-width: 68%;
}

.main_carousel_content {
    flex: 0 0 32%;
    max-width: 32%;
}

.mn_cr_text_inner h1 {
    font-size: 18px;
}

.mn_cr_text_inner h3 {
    font-size: 10px;
}

.mn_cr_price {
    font-size: 24px;
}

.mn_cr_price span {
    font-size: 18px;
}

.mn_cr_btn a p {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
}

.month_text {
    font-size: 15px;
}

.mn_cr_month {
    font-size: 18px;
}

.mn_cr_month span {
    font-size: 14px;
}

.three_banner {
    padding: 10px 40px;
}

.banner_img {
    height: 80px;
}



.banner_see_all {
    bottom: 20px;
}

.banner_see_all p {
    font-size: 12px;
}


.banner_see_all {
    max-width: 100px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.col-lg-2.favorite_box p {
    font-size: 11px;
}
.favorite_tx_main {
    padding-right: 15px;
}

.favorite_slider_outer {
    padding-left: 15px;
}
.favorite_item_text h1 {

    margin: 25px 0px;
    margin-bottom: 15px;
}

.favorite_item_text h1{

  max-width: unset;
}

.favorite_item_slider{
  padding-left: 10px;
 
}

.deals_phrase p {
    font-size: 10px;
}

p.product_name {
    font-size: 14px;
}


.text_right_about h1 {
    font-size: 12px;
    text-align: center;
}


.text_right_about p {
    font-size: 10px;
    text-align: center;
}

.input_mail input {

    padding-left: 10px;
    padding-top: 8px;
    padding-bottom:11px;
    font-size: 10px;
    max-width: 100px;
}

.input_mail p {
    padding-top: 8px;
    padding-bottom: 6px;
    padding-right: 4px;
    padding-left: 4px;
    font-size: 10px;
}

.f_sc_footer h5 {
    font-size: 14px;
}

.f_sc_footer p {
    font-size: 12px;
}



.result_container {
    border-left: 0px;
}


.search_row {
    border-top: 0px solid #DFDFDF;
}


.add_wishlist {
    opacity: 1 !important;
}


.filter_side {
    position: fixed;
    background: white;
    top: 0;
    right: 0;
    z-index: 11;
    height: 100%;
    margin-top: 0px;
        max-width: 250px;
        padding-left: 0px;
        right: -250px;
        transition: 0.5s;
}


.filter_container_main {
    height: 100%;
    overflow: auto;
    padding-top: 15px;
    padding-left: 15px;
    position: absolute;
    top: 0;
    padding-top: 116px;
    z-index: 10
}



.filter_mobile p {
    color: white;
    font-size: 16px;
    font-family: firagobold;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.filter_mobile {
    background: #0e141c;
    position: relative;
    z-index: 11;
}

.filter_mobile p img {
    float: right;
    padding-right: 10px;
    padding-top: 4px;
}

.sorting_mob{
  display: block !important;
}
.sorting{
  display: none;
}

.sort_category {
    position: absolute;
    z-index: 1;
    width: 50%;
    right: 17px;
    top: 10px;
}

ul.choose_sort li {

    font-size: 12px;

}

span.sort_text {
    color: #00072D;
    font-family: firagobold;
    font-size: 13px;
}

span.line_sort {
    color: #DFDFDF;
    font-size: 13px;
}

span.sort_selector {
    font-family: firagoregular;
    color: #878787;
    padding-left: 5px;
    cursor: pointer;
    padding-right: 5px;
    font-size: 13px;
        position: relative;
    z-index: 1111;
}


.sorting_mob {
    display: block !important;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1px solid #DFDFDF;
    position: relative;
    z-index: 11;
    background-color: white;
}

.sorting_mob p {
    text-align: center;
}

ul.choose_sort {
    background: #ececec;
    padding: 5px;
    padding-top: 20px;
}


.filter_mob_open{
  display: block;
}


p.filter_open {
    font-size: 14px;
    font-family: firagoregular;
    padding-top: 5px;
    border: 1px solid #868686;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #00072d;
    color: white;
    border-radius: 3px;
}


p.filter_open img {
    max-width: 16px;
    margin-right: 5px;
}



.search_sort {

    padding-left: 7px;
    padding-top: 15px;
    padding-right: 7px;
    cursor: pointer;
}



.search-field-main img {
    width: 25px;
}

.search-field {
    font-family: firagoextra;
    font-size: 10px;
}

.option_category {
    border-top-left-radius: 20px;

}

p.choosen_category {
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 10px;
    font-family: firagoextra;

}


.choosen_main img {
    top: 0px;
    width: 8px;
}
ul.choose_category li {
    font-size: 11px;
}
.choose_category {
    padding-top: 29px;
}


.lurji-logo {
    padding: 20px 15px;
}


.prime-logo {
    padding: 20px 15px;
}



.lurji-logo{
  width: 100%;
  padding-left: 30px;
  max-width: unset;
      padding: 10px 30px;
}

.lurji-logo img{
  display: flex;
  margin:auto;
}


.prime-logo {
    width: 100%;
    border-right: 0px;
    max-width: unset;
    padding: 10px 25px;
}


.prime-logo img{
  display: flex;
  margin:auto;
}


.user_outer_section {
    border-top: 1px solid #44485B;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 9;
}



.mobile_menu_btn{
display: block;
padding-left: 15px;
width: 100%;
}


.use_section {
   padding: 0px 15px;
    justify-content: flex-end;
    width: 100%;

}


 .search_container{
    display: none;
  }

  .search_outer_cont{
     transition: 0.3s;
  }


.mobile_menu_btn img{
  max-width: 25px;
}


.header_cont{
  width: 100%;
  max-width: unset;
}


.user{
  display: none;
}

.wishlist{
  display: none;
}



.search_mobile {
    display: block;
    margin-right: 15px;
}

.search_mobile img{
 max-width: 25px;
}

.user_section_inner {
    justify-content: flex-end;
}



.user img,.wishlist img,.basket img{
    max-width: 30px;
}



.search_outer_cont {
    width: 100%;
    position: absolute;
    left: 0;
    top: 1px;
    background: #00072d;
    padding-left: 5px;
    padding-right: 35px;
    z-index: 9;
    padding-top: 7px;
    padding-bottom: 10px;
}

.x-search {
    position: absolute;
       right: -27px;
    top: 0px;
    bottom: 0;
    margin: auto;
    width: 20px;
    height: 28px;
    z-index: 10;
}



.search_textarea {
    position: absolute;
    width: 100%;
    z-index: 10;
    left: 3px;
    top: 4px;
    padding-right: 35px;
}

.textarea_inner {
    background: white;
    border-radius: 15px;
    padding-top: 43px;
    display: none;
    overflow: hidden;
}


.textarea_inner ul a li {

    padding-top: 5px;
    padding-bottom: 5px;
    font-family: firagolight;
    color: black;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    padding: 5px 10px;

}

.textarea_inner ul {
    padding-top: 3px;
}


.textarea_inner ul a li:hover {
    background: #00072d;
    width: 100%;
    padding-right: 0px;
    color: white;
}

.cart_modal {

 height: 100%;
  max-height: 100vh !important;
}

.left_section {
  margin-bottom: 20px;
}































}




@media(min-width: 768px){

.cart_mobile_on{
  display: none;
}

}





@media(max-width: 768px){

 

  .mn_cr_text_inner {
    padding: 10px;
}

.mn_cr_text_inner h1 {
    font-size: 14px;
    margin-bottom: 2px;
}
.mn_cr_text_inner h3 {
    font-size: 9px;
    margin-bottom: 2px;
}

.mn_cr_btn {
    width: 89%;
}

.mn_cr_btn a p img {
    max-width: 12px;
}

.mn_cr_btn a p {
    width: 40px;
}

.month_text {
    font-size: 11px;
}

.mn_cr_month {
    font-size: 16px;
}

.mn_cr_month span {
    font-size: 12px;
}

.mn_cr_btn {
    bottom: 10px;
}

.f_second{margin-bottom: 30px;}



.about_first {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 2px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    padding: 10px;
    padding-top: 30px;
    padding-left: 30px;
   padding-right: 20px;

}
.about_img{
  display: block;
}



.about_second {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 2px;
   padding: 10px;
   padding-left: 34px;
   padding-right: 20px;


}



.about_third {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 2px;
    padding: 10px;
    padding-left: 30px;
   padding-right: 20px;


}



.about_fourth {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0%;
    margin-bottom: 2px;
   padding: 10px;
   padding-left: 23px;
   padding-right: 20px;

}

.about_fifth {
    flex: 0 0 100%;
    max-width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 10px;
    padding-bottom: 30px;
    padding-left: 20px;
   padding-right: 20px;
}


.text_right_about h1 {
    font-size: 14px;

}

.text_right_about p {
    font-size: 12px;

}

.last_text_about{
  padding-left: 10px;
}

.text_right_about {
   float: none; 
}

.text_right_about h1 {
    text-align: center;
}

.text_right_about p {
    text-align: center;
}
.about_img {
    display: flex;
}

.third_text_about {
     max-width: unset; 
}

.text_right_about {
    max-width: unset;
}

.row_footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.input_mail input{
  max-width: unset;
  padding-bottom: 8px;
}
.row_footer {
    display: grid;
    grid-template-columns: auto auto;
  }

.input_mail p {
    padding-top: 5px;
  }






.product_main {
    flex: 0 0 50%;
    max-width: 50%;

}

.left_basket {
  display: flex;
  flex-wrap: wrap;
}

.flex_court {
  width: 45%;
  margin: auto;
  padding-bottom:15px;
  margin-top: 15px;
  display: unset;
  max-width: unset;
  margin: 10px;
 
}

.cart_img {
  width: 100%;
}

.inner_cart_img {
  max-width: 180px;
  height: 150px;
  margin: auto;
}
.cart_text {
  width: 100%;
}

.cart_item_name p {
  font-size: 14px;
}

.cart_cond p {
  font-size: 13px;
  margin: 5px 0px;
}


.cart_prop p {
  font-size: 13px;
  padding: 2px 0px;
}

.cart_price {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cart_count p {
  font-size: 13px;
}

.cart_pr_detail p {
  font-size: 15px;
}



.basket_heading h1 {
  text-align: center;
  font-size: 20px;
}




.cart_mobile_off{
  display: none;
}

.cart_mobile_on{
  display: flex;
}
.basket_heading h1 {
  margin-top: 20px;
  margin-bottom: 5px;
}

.cart_all_detail {
  padding: 15px 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.cart_sum_text {
  font-size: 13px;
}
.cart_sum_num {
  font-size: 13px;
}

.cart_sum_num span {
  font-size: 10px;
}

.cart_del_num {
  font-size: 13px;
}

.cart_del_text {
  font-size: 13px;
}

.cart_res_num span {
  font-size: 14px;
}

.cart_res_num {
  font-size: 18px;
}

.cart_res_text {
  font-size: 18px;
}

.cart_buy {
  margin-top: 15px;
  margin-bottom: 15px;
}

.cart_buy a p {
  font-size: 16px;
}

.credit_left a span {
  font-size: 14px;
}

.credit_right p {
  font-size: 14px;
}


.cart_how_buy h5 {
  font-size: 15px;
}

.how_buy_inner {
  padding: 25px 20px;
  padding-bottom: 25px;
}

.how_buy_inner h1 {
  font-size: 20px;
  margin-bottom: 30px;
}



.how_buy_steps {
  display: block;
  text-align: center;
}

.first_step p {
  font-size: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.three_sec {
  display: none;
}

.second_step p {
  margin-top: 15px;
  font-size: 15px;
  margin-bottom: 15px;
}


.cart_prop{
  max-width: unset;
}


.flex_court:first-child {
  margin-top: 10px;
}


.flex_court:last-child {
  border-bottom: 1px solid #CFCFCF;
}



.in_stock {
  display: block;
}

p.phrases {
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 5px;
}


p.phrases span {
  font-size: 12px;
}

p.stock_count {
  font-size: 13px;
}

p.prod_id {
  font-size: 14px;
}

p.sold_numb {
  font-size: 12px;
}

.prod_name p {
  font-size: 18px;
}

.made_by {
  padding: 7px 0px;
}

.made_by p {
  font-size: 13px;
}

.new_price p {
  font-size: 25px;
}

.new_price p span {
  font-size: 17px;
}

.old_price p {
  font-size: 22px;
}

.old_price p span {
  font-size: 16px;
}

.discount {
  margin-top: 2px;
}
.discount span {
  font-size: 12px;
  padding: 3px 8px;
}

.condition p {
  font-size: 13px;
  padding: 7px 0px;
}

.spec_quant p {
  font-size: 14px;
}

.spec_color p {
  font-size: 14px;
}

.specifications h5 {
  font-size: 14px;
}

.specifications p {
  font-size: 13px;
}

.see_more_spec span {
  font-size: 13px;
}

p.buy_price {

  font-size: 13px;
}

p.buy_price span {
  font-size: 17px;
}

p.buy_price i {
  font-size: 12px;
}

p.buy_address {
  font-size: 13px;
}

p.delivery_time {
  font-size: 13px;
}

p.delivery_price {
  font-size: 13px;
}

p.delivery_price i {
  font-size: 10px;
}

.buy_first_sec {
  margin-bottom: 30px;
}

.buy_btn a p {
  font-size: 15px;
  padding: 10px 0px;
}

.add_to_cart a p {
  padding: 10px 0px;
  font-size: 15px;
}

.credit_btn span {
  font-size: 13px;
}

.credit_btn span i {
  font-size: 13px;
}

.credit_btn span span {
  font-size: 17px;
}

.credit_info p {
  font-size: 13px;
}
















}


@media(min-width: 576px){


.desktop_slider{
  display: block;
}
.mobile_slider{
    display: none;
  }

.next_mobile{
  display: none;
}

.sub_heading{
  display: none;
}

.commercial_mobile{
  display: none;
}

.mb_on_footer{
  display: none;
}



.desktop_slider{
  display: flex;
}

.slider_cont_mob{
  display: none;
}


}

@media(max-width: 576px){

.desktop_slider{
  display: none;
}
  .mobile_slider{
    display: block;
}






.user_section_inner{
max-width: 80px;
}




.mobile_menu_btn img {
    max-width: 25px;
}






.lurji-logo img{
  display: flex;
  margin: auto;
  max-width: 40px;
}

.prime-logo img{
  display: flex;
  margin: auto;
  max-width: 75px;
}

  .banner_img {
    height: 60px;
}

.banner_text h1 {
    font-size: 16px;
}

.banner_text h1 {
    margin-top: 0px;
}

.three_banner {
    padding: 10px 25px;
}


.deals_phrase p {
    font-size: 7px;
}

p.product_name {
    font-size: 10px;
    font-family: firagolight;
    color: #3E3E3E;
}

span.full_price_pr {
    font-size: 15px;
}

span.full_price_pr span {
    font-size: 10px;
}


span.month_price_pr {
    font-size: 10px;
    padding-top: 3px;
}

span.month_numb {
    font-size: 11px;
}

span.month_numb span {
    font-size: 10px;
}


.extra_phrases p {
    font-size: 10px;
}

.next_mobile{
  display: block;
  float: right;
}


h1.deals_heading{
  font-size: 16px;
  margin-bottom: 5px;
}

.sub_heading{
  display: block;
  font-size: 12px;
  font-family: firagolight;
  color: #0E141C;
  margin-bottom: 20px;
}

.deals_carousel {
    margin-right: -15px;
}

.deals_phrase p {
    margin-top: 5px;
    margin-bottom: 0px;
}

.deals_phrase p:first-child {
 margin-right:0px;
}

.five_left_main {
  padding: 0px;
}

.banner_five_first{
  margin-top: -10px;
}

.banner_five_second{
  margin-top: -10px;
}

.banner_3_section{
  margin-top: 20px;
}

.deals_slider{
  margin-top: 20px;
}
.banner_5_section{
  margin-top: 20px;
}

.commercial{
display: none;
}



/*** Commercial Mobile ***/


.commercial_mobile{
  display: block;
  margin-top: 20px;
}

.commercial_mob_container{
  padding: 0px;
}
.commercial_mob_container a img{
  width: 100%;
}


.f_second{
  margin-bottom: 15px;
}

.favorite_box_first {
    margin-bottom: 15px;
}


.row.first_row > div:nth-child(1) {
    padding-right: 5px;
}


.row.first_row > div:nth-child(2) {
    padding-right: 5px;
    padding-left: 5px;
}


.row.first_row > div:nth-child(3) {
    padding-left: 5px;
}


.row.first_row > div:nth-child(4) {
    padding-right: 5px;
}


.row.first_row > div:nth-child(5) {
    padding-right: 5px;
    padding-left: 5px;
}


.row.first_row > div:nth-child(6) {
    padding-left: 5px;
}

.col-lg-2.favorite_box p {
    font-size: 10px;
}



.row.second_row > div:nth-child(1) {
    padding-right: 5px;
}


.row.second_row > div:nth-child(2) {
    padding-right: 5px;
    padding-left: 5px;
}


.row.second_row > div:nth-child(3) {
    padding-left: 5px;
}


.row.second_row > div:nth-child(4) {
    padding-right: 5px;
}


.row.second_row > div:nth-child(5) {
    padding-right: 5px;
    padding-left: 5px;
}


.row.second_row > div:nth-child(6) {
    padding-left: 5px;
}

.favorite_box_img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.favorite_box_img {
    max-width: 100px;
    margin:auto;
}

.off_see_all{
  display: none;
}

.favorite_heading h1 {
    font-size: 16px;
    text-align: left;
}

.favorite_slider_outer {
  padding: 0px;
}

.favorite_tx_main{
  padding: 0px;
}

.favorite_item_text h1 {
    font-size: 16px;
}
.favorite_item_slider {

    padding-right: 0px;
}

.deals_content {
min-height: unset; 
}

.favorite_deals_content {
    padding-left: 2px;
    padding-right: 2px;
}

.text_right_about h1 {
    font-size: 14px;
    text-align: left;
}

.text_right_about p {
    font-size: 12px;
    text-align: left;
}


.text_right_about {
    float: left;
    padding-left: 20px;
}

.third_text_about {
    max-width: 180px;
}

.text_right_about {
    max-width: 190px;
}

.about_img {
    display: block;
}

.last_text_about{
  padding-left: 10px;
}
.about_heading{
  font-size: 16px;
}


.row_footer {
    grid-template-columns: auto;
      grid-row-gap: 30px;
  }


.mb_off_footer{
  display: none;
}

.mb_off_footer{
  display: none;
}

.mb_center_footer{
  text-align: center;
}
.mail p {
    text-align: left;
}


.about_content {
    width: 100%;
    height: 100%;
    max-width: 230px;
    margin: auto;
}



.product_main {
    padding: 0px 7px;
}



.add_wishlist {
    top: 10px;
    right: 10px;
}

.add_wishlist svg {
    width: 20px;
    height: auto;
  }


.pr_lc_cont{
  display: none;
}



span.searched_numb_all {
    font-size: 10px;
}

span.searched_word {
    font-size: 10px;
}


p.filter_open {
    font-size: 14px;
    font-family: firagoregular;
    padding-top: 5px;
    border: 1px solid #868686;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    background: #00072d;
    color: white;
    border-radius: 3px;
}

.result_search{
  display: none;
}


.deals_img {
    height: 210px;
}




.textarea_inner ul a li {
    font-size: 12px;
}


.textarea_inner {
    padding-top: 30px;
}


.flex_court {
  width: 100%;
  max-width: 400px;
  margin: auto;
  padding-top: 15px;
 
}

.cart_text {
  padding-top: 15px;
}



.rigth_basket_inner {
  max-width: 400px;
  margin: auto;
}

.how_buy_inner {
  max-width: 400px;
  margin: auto;
}


.flex_court:last-child {
  border-bottom: 0px solid #CFCFCF;
}

.may_like h1 {
  font-size: 20px;
}


.cart_modal_content {
  padding: 50px;
}

.cart_modal_content h1 {
  font-size: 25px;
  margin-top: 35px;
}


.cr_modal_product {
  padding-bottom: 10px;
  padding-top: 10px;
  flex-wrap: wrap;
}

.cr_product_img {
  width: 25%;
  height: 75px;
  max-width: 87px;
  margin-right: 15px;
}

.cr_product_text {
  width: 69%;
}
p.cr_md_heading {
  font-size: 13px;
}

p.cr_md_conditon {
  font-size: 12px;
  margin: 6px 0px;
}

p.cr_md_count {
  font-size: 13px;
}

p.cr_md_price {
  font-size: 13px;
}

.cr_modal_sum {
  margin-top: 10px;
  background-color: #F7F7F7;
  padding: 20px;
}

.cr_sum_text {
  font-size: 18px;
}
.cr_sum_num {
  font-size: 20px;
}

.cr_sum_num span {
  font-size: 14px;
}


.cr_detailed h5 {
  font-size: 13px;
  margin-top: 15px;
  margin-bottom: 25px;
}

.cr_detailed_btn a p {
  padding: 12px 0px;
  font-size: 15px;
}


.cr_cont_search a p {
  padding: 12px 0px;
  font-size: 15px;
}

.cr_help {
  margin-top: 20px;
  padding: 30px 20px;
}
.cr_help_inner h5 {
  margin-bottom: 15px;
  font-size: 20px;
}

p.cr_will_find {
  font-size: 13px;
  margin-bottom: 15px;
}

p.cr_contact {
  font-size: 16px;
  margin-bottom: 15px;
}


p.cr_cont_det {
  font-size: 13px;
}






.pr_not_first {
  margin-bottom: 30px;
}

.pr_not_first h5 {
  font-size: 16px;
}

.pr_not_first p {
  font-size: 13px;
}

.pr_not_second h5 {
  font-size: 16px;
}
.pr_not_second a p {
  font-size: 17px;
}
.product_not {
  padding-bottom: 0px;
}



.empty_text h4 {
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 20px;
}


.empty_text h5 {
  margin-bottom: 10px;
  font-size: 16px;
}

.empty_text p {
  font-size: 12px;
}

.empty_img {
  margin-top: 40px;
  margin-bottom: 80px;
}







.inner_change_item {
  padding: 50px;
}

.heading_change h5 {
  margin-top: 30px;
}




.right_section {
  width: 100%;
  padding-left: 0px;
  margin-top: 20px;
  min-width: unset;
}
.product_description {
  width: 100%;
  padding-right: 0px;
}

.product_page{
  max-width: 480px;
}
.middle_section {
  display: flex;
  flex-wrap: wrap;
}

.desktop_slider{
  display: none;
}

.slider_cont_mob{
  display: block;
}


.product_map p {
  font-size: 11px;
}

















}



@media(max-width: 480px){


  .product_img {
    position: relative;
    height: 175px;
}

.deals_img {
    height: 180px;
}
.simmilar_img{
  height: 180px;
}


.cart_modal_content {
  padding: 20px;
}


.inner_change_item {
  padding: 20px;
}

.heading_change h5 {
  font-size: 18px;
  margin-top: 50px;
  margin-bottom: 10px;
}

.heading_change p {
  font-size: 13px;
  margin-bottom: 10px;
}

.pr_change_inner p {
  font-size: 25px;
}

.pr_change_inner p span {
  font-size: 18px;
}

.btn_change p {
  padding: 12px 0px;
  font-size: 16px;
}

.change_x_button {
  right: 25px;
  top: 25px;
}

.cr_x_button {
  right: 25px;
  top: 25px;
}








}




@media(max-width: 400px){


  .product_img {
    position: relative;
    height: 150px;
}

.deals_img {
    height: 150px;
}

.simmilar_img{
  height: 150px;
}


}




@media(max-width: 360px){


  .product_img {
    position: relative;
    height: 130px;
}

.deals_img {
    height: 130px;
}

.simmilar_img{
  height: 130px;
}



}



.blackscreen {
    position: fixed;
    width: 0;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 10;
    opacity: 0;
     -webkit-transition: opacity .5s ease-in-out;
        -moz-transition: opacity .5s ease-in-out;
        -ms-transition: opacity .5s ease-in-out;
        -o-transition: opacity .5s ease-in-out;
        transition: opacity .5s ease-in-out;
}


.blackscreen2 {
  position: fixed;
  width: 0;
  height: 100%;
  background: rgba(0,0,0,0.5);
  z-index: 10;
  opacity: 0;
   -webkit-transition: opacity .5s ease-in-out;
      -moz-transition: opacity .5s ease-in-out;
      -ms-transition: opacity .5s ease-in-out;
      -o-transition: opacity .5s ease-in-out;
      transition: opacity .5s ease-in-out;
}




